<!-- botonera de navegacion-->
<div class="container" style="padding-top: 40px">
<div class="row row-cols-1 row-cols-md-2 g-4">
 <div class="col-lg" align="center">
    <a href="#">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
    <p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/politica-cap1.PNG';" onmouseover="this.src='/theme/images/imagenesOG/politica-cap2.PNG';" src="/theme/images/imagenesOG/politica-cap1.PNG" /></p>
          <div class="">
        <h3 class="card-title" ><span class="bi bi-puzzle" style="font-size: 1.8rem; color: #F21356;"></span>&nbsp;Política Estatal Anticorrupción</h3>
        <p class="card-text" style="text-align: justify; padding: 2rem" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
</div>
 <div class="col-lg" align="center">
    <a href="#">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
    <p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/politica-cap1.PNG';" onmouseover="this.src='/theme/images/imagenesOG/politica-cap2.PNG';" src="/theme/images/imagenesOG/politica-cap1.PNG" /></p>
          <div class="">
        <h3 class="card-title" ><span class="bi bi-book" style="font-size: 1.8rem; color: purple;"></span>&nbsp;Revista Azimut</h3>
        <p class="card-text" style="text-align: justify; padding: 2rem" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
</div>
 <div class="col-lg" align="center">
    <a href="#">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
    <p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/politica-cap1.PNG';" onmouseover="this.src='/theme/images/imagenesOG/politica-cap2.PNG';" src="/theme/images/imagenesOG/politica-cap1.PNG" /></p>
          <div class="">
        <h3 class="card-title" ><span class="bi bi-chat-square-text" style="font-size: 1.8rem; color: brown;"></span>&nbsp;Boletínes</h3>
        <p class="card-text" style="text-align: justify; padding: 2rem" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
</div>

  </div>
</div>

<div class="container" style="padding-top: 40px">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col-lg" align="center">
    <a href="#">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
    <p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/politica-cap1.PNG';" onmouseover="this.src='/theme/images/imagenesOG/politica-cap2.PNG';" src="/theme/images/imagenesOG/politica-cap1.PNG" /></p>
          <div class="">
        <h3 class="card-title" ><span class="bi bi-layout-wtf" style="font-size: 1.8rem; color: #DBA901;"></span>&nbsp;Sistema de Información Estatal</h3>
        <p class="card-text" style="text-align: justify; padding: 1rem" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
</div>
 <div class="col-lg" align="center">
    <a href="#">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
    <p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/politica-cap1.PNG';" onmouseover="this.src='/theme/images/imagenesOG/politica-cap2.PNG';" src="/theme/images/imagenesOG/politica-cap1.PNG" /></p>
          <div class="">
        <h3 class="card-title" ><span class="bi bi-people" style="font-size: 1.8rem; color: green;"></span>&nbsp;Capacitaciones</h3>
        <p class="card-text" style="text-align: justify; padding: 2rem" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
</div>
 <div class="col-lg" align="center">
    <a href="#">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
    <p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/politica-cap1.PNG';" onmouseover="this.src='/theme/images/imagenesOG/politica-cap2.PNG';" src="/theme/images/imagenesOG/politica-cap1.PNG" /></p>
          <div class="">
        <h3 class="card-title" ><span class="bi bi-search" style="font-size: 1.8rem; color: gray;"></span>&nbsp;Transparencia</h3>
        <p class="card-text" style="text-align: justify; padding: 2rem" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
</div>


  </div>
</div>