<!-- botonera de navegacion-->
<div class="container" style="padding-top: 40px">
  <div class="row row-cols-1 row-cols-md-2 g-4">

   <div class="col-lg" align="center">
    <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
      <a href="/secretaria-ejecutiva/publicaciones/peac.pdf"><p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/peac1.jpg';" onmouseover="this.src='/theme/images/imagenesOG/peac2.jpg';" src="/theme/images/imagenesOG/peac1.jpg" /></p>
        <div class="">
          <h3 class="card-title" ><span> <img src="/theme/images/imagenesOG/peaclog.png" style="width: 40px" alt=""></span>&nbsp;Política Estatal Anticorrupción</h3></a>
          <p class="card-text" style="text-align: justify; padding: 1rem" >Conoce aquí el documento rector que guiará los esfuerzos de las instituciones públicas y ciudadanas en materia de prevención, control y combate de los hechos de corrupción. <br>Descargar / <a href="/secretaria-ejecutiva/publicaciones/peac.pdf"><b> PEAC</a></b> / <a href="/secretaria-ejecutiva/publicaciones/peac-anexos.pdf"><b>ANEXOS</a></b> </p>
        </div>
      </div>
    </div>
    <div class="col-lg" align="center">
      <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
       <a href="/secretaria-ejecutiva/azimut/"><p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/azimut1.jpg';" onmouseover="this.src='/theme/images/imagenesOG/azimut2.jpg';" src="/theme/images/imagenesOG/azimut1.jpg" /></p>
        <div class="">
          <h3 class="card-title" ><span><img src="/theme/images/imagenesOG/azimutlog.png" style="width: 40px" alt=""></span>&nbsp;Revista Azimut</h3></a>
          <p class="card-text" style="text-align: justify; padding: 1rem" >Lee el más reciente número de nuestra revista <b>Azimut</b>, en el que abordamos cómo la pandemia ha evidenciado que la corrupción impacta de manera diferenciada a los más vulnerables. </p>
        </div>
      </div>
    </div>
  <div class="col-lg" align="center">
      <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
       <a href="https://plataformadigitalnacional.org/"><p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/sistema1.jpg';" onmouseover="this.src='/theme/images/imagenesOG/sistema2.jpg';" src="/theme/images/imagenesOG/sistema1.jpg" /></p>
        <div class="">
          <h3 class="card-title" ><span><img src="/theme/images/imagenesOG/sistemalog.png" style="width: 30px" alt=""></span>&nbsp;Sistema Estatal de Información</h3>  </a>
          <p class="card-text" style="text-align: justify; padding: 1rem" >Sistema de inteligencia para construir integridad y combatir la corrupción, que creará valor para el gobierno y la sociedad, a partir de grandes cantidades de datos. <b>(Fase Beta)</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 40px" >
  <div class="row row-cols-1 row-cols-md-2 g-4">

    

      <div class="col-lg" align="center">
      <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
       <a href="/secretaria-ejecutiva/boletines/"><p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/boletin1.jpg';" onmouseover="this.src='/theme/images/imagenesOG/boletin2.jpg';" src="/theme/images/imagenesOG/boletin1.jpg" /></p>
        <div class="">
          <h3 class="card-title" ><span><img src="/theme/images/imagenesOG/boletinlog.png" style="width: 40px" alt=""></span>&nbsp;Boletines</h3></a>
          <p class="card-text" style="text-align: justify; padding: 1rem" >En nuestro boletín bimestral informamos a la sociedad sobre el trabajo legislativo que se realizó en materia anticorrupción en el ámbito estatal y federal.</p>
        </div>
      </div>
    </div>
    <div class="col-lg" align="center">
      <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
       <a href="#"><p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/capacitacion1.jpg';" onmouseover="this.src='/theme/images/imagenesOG/capacitacion2.jpg';" src="/theme/images/imagenesOG/capacitacion1.jpg" /></p>
        <div class="">
          <h3 class="card-title" ><span><img src="/theme/images/imagenesOG/capacitacioneslog.png" style="width: 30px" alt=""></span>&nbsp;Capacitaciones</h3></a>
          <p class="card-text" style="text-align: justify; padding: 1rem" >Encuentra aquí toda la información sobre los cursos y capacitaciones que ofrece el Sistema Estatal Anticorrupción a través de la Secretaría Ejecutiva.</p>
        </div>
      </div>
    </div>
    <div class="col-lg" align="center">
      <div class="card" style="border-radius: 10px; border: 0px solid #BF7B70" >&nbsp;
        <a href="/secretaria-ejecutiva/transparencia/"><p><img class="card-img-top"alt="Cambiar imagen" onmouseout="this.src='/theme/images/imagenesOG/transparencia1.jpg';" onmouseover="this.src='/theme/images/imagenesOG/transparencia2.jpg';" src="/theme/images/imagenesOG/transparencia1.jpg" /></p>
          <div class="">
            <h3 class="card-title" ><span><img src="/theme/images/imagenesOG/transparencialog.png" style="width: 30px" alt=""></span>&nbsp;Transparencia</h3>  </a>
            <p class="card-text" style="text-align: justify; padding: 1rem" > Información pública generada por la Secretaria Ejecutiva del Sistema Anticorrupción del Estado de Coahuila de Zaragoza.</p>
          </div>
        </div>
      </div>
    </div>
  </div>