    <div class="contenedor-horizontal bloque-navegacion clearfix ">
        <div class="nivel">
            <h4>Secretaría Ejecutiva</h4>
            <ul class="links">
                <li><a href="/secretaria-ejecutiva/institucional/que-es-la-secretaria-ejecutiva/">
                    <div class="icon"><img src="/theme/images/destacados-que-es.png" alt="Que es la SE"></div>
                    <p>¿QUÉ ES LA SE?</p>
                </a></li>
                <li><a href="/secretaria-ejecutiva/planes/plan-de-trabajo-2019/">
                    <div class="icon"><img src="/theme/images/destacados-plan-de-trabajo.png" alt="Plan de Trabajo"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="/secretaria-ejecutiva/capacitacion/2018-05-primera-capacitacion-y-difusion/">
                    <div class="icon"><img src="/theme/images/destacados-documentos.png" alt="Capacitación"></div>
                    <p>CAPACITACIÓN</p>
                </a></li>
                <li><a href="/secretaria-ejecutiva/publicaciones/">
                    <div class="icon"><img src="/theme/images/destacados-documentos.png" alt="Publicaciones"></div>
                    <p>PUBLICACIONES</p>
                </a></li>
                <li><a href="/secretaria-ejecutiva/infografias/">
                    <div class="icon"><img src="/theme/images/destacados-datos.png" alt="Infográficas"></div>
                    <p>INFOGRÁFICAS</p>
                </a></li>
                <li><a href="/secretaria-ejecutiva/institucional/contacto/">
                    <div class="icon"><img src="/theme/images/destacados-contacto.png" alt="Contacto"></div>
                    <p>CONTACTO</p>
                </a></li>
            </ul>
        </div>
    </div>

