    <!-- footer-licencias -->
    <div class="container">
{% if USE_REMOTE_SERVICES %}
        <p class="footer-message">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">SEA Coahuila</span> 2018 por <a class="footer-link" xmlns:cc="http://creativecommons.org/ns#" href="{{ SITEURL }}" property="cc:attributionName" rel="cc:attributionURL">Secretaría Ejecutiva del Sistema Anticorrupción del Estado de Coahuila de Zaragoza</a> se distribuye bajo una <a class="footer-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
        </p>
{% endif %}
        <p class="footer-message">
            El software libre que elabora este sitio web se hace público con licencia <a class="footer-link" href="/general/terminos/agpl/">GNU Affero General Public License</a>.
            Usa <a class="footer-link" href="https://blog.getpelican.com/" target="_blank">Pelican</a> que está programado con <a class="footer-link" href="https://python.org" target="_blank">Python</a>.
            Le invitamos a descargar y usar los repositorios en <a class="footer-link" href="https://github.com/SEACoahuila" target="_blank">GitHub</a>.
        </p>
    </div>

