    <!-- Mapa del Sitio inicia -->
    <div class="row">
        <div class="col-md-3">
            <h5 class="footer-text">Comunicados clasificados</h5>
            <ul class="footer-text">
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/capacitaciones.html">Capacitaciones</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/comision-ejecutiva.html">Comisión Ejecutiva</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/comite-coordinador.html">Comité Coordinador</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/consejo-de-participacion-ciudadana.html">Consejo de Participación Ciudadana</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/organo-de-gobierno.html">Órgano de Gobierno</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/presentaciones.html">Presentaciones</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/reuniones.html">Reuniones</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/secretaria-ejecutiva.html">Secretaría Ejecutiva</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/tag/sesiones.html">Sesiones</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="footer-text">Comité Coordinador</h5>
            <ul class="footer-text">
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cc/institucional/que-es-el-cc/">Qué es el CC</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cc/planes/plan-de-trabajo-cc-2018/">Plan de Trabajo</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cc/informes/2018-informe-anual/">Informe Anual</a></li>
            </ul>
            <h5 class="footer-text">Consejo de Participación Ciudadana</h5>
            <ul class="footer-text">
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cpc/institucional/que-es-el-cpc/">Qué es el CPC</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cpc/planes/plan-de-trabajo-cpc-2018/">Plan de Trabajo</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cpc/declaraciones/3-de-3/">Declaraciones 3 de 3</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cpc/institucional/documentos-cpc/">Documentos</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/cpc/institucional/contacto-cpc/">Contacto</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="footer-text">Secretaría Ejecutiva</h5>
            <ul class="footer-text">
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/institucional/que-es-la-secretaria-ejecutiva/">Qué es la SE</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/planes/plan-de-trabajo-2018/">Plan de Trabajo</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/boletines-anticorrupcion/">Boletines Anticorrupción</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/capacitacion/2018-05-primera-capacitacion-y-difusion/">Capacitación</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/datos/">Datos</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/transparencia/">Transparencia</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/secretaria-ejecutiva/institucional/contacto/">Contacto</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="footer-text">Contenido general</h5>
            <ul class="footer-text">
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/general/terminos/aviso-de-privacidad-integral/">Aviso de privacidad integral</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/general/terminos/informacion/">Términos de uso de la información</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/general/terminos/sitio-web/">Términos del sitio web</a></li>
                <li><a class="footer-link" href="http://www.seacoahuila.org.mx/general/anuncios/vacantes/">Vacantes</a></li>
            </ul>
        </div>
    </div>
    <!-- Mapa del Sitio termina -->

