{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block meta_tags %}
    {% if output_file == 'index.html' %}
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="keywords" content="{{ SITEKEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <meta itemprop="name" content="{{ SITENAME }}">
    <meta itemprop="description" content="{{ SITEDESCRIPTION }}">
    <meta itemprop="image" content="{{ SITEURL }}/{{ SITELOGO }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ SITETWITTER }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">
    <meta name="twitter:image:src" content="{{ SITEURL }}/{{ SITELOGO }}">
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:type" content="summary">
    <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}">
    <meta property="og:image" content="{{ SITEURL }}/{{ SITELOGO }}">
    <meta property="og:description" content="{{ SITEDESCRIPTION }}">
    <meta property="og:site_name" content="{{ SITENAME }}">
    {% else %}
    <meta name="description" content="Índice de publicaciones.">
    <meta name="keywords" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta itemprop="name" content="Índice - {{ SITENAME }}">
    <meta itemprop="description" content="Índice de publicaciones.">
    <meta itemprop="image" content="{{ SITEURL }}/{{ SITELOGO }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ SITETWITTER }}">
    <meta name="twitter:title" content="Índice - {{ SITENAME }}">
    <meta name="twitter:description" content="Índice de publicaciones.">
    <meta name="twitter:image:src" content="{{ SITEURL }}/{{ SITELOGO }}">
    <meta property="og:title" content="Índice - {{ SITENAME }}">
    <meta property="og:type" content="summary">
    <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}">
    <meta property="og:image" content="{{ SITEURL }}/{{ SITELOGO }}">
    <meta property="og:description" content="Índice de publicaciones.">
    <meta property="og:site_name" content="{{ SITENAME }}">
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Comunicados -->
    <div id="comunicados" class="contenedor-horizontal inicio-comunicados-redes clearfix ">
        {% if articles %}
        <div class="wrap">
            <div class="comunicados-home">
                <h1>{% block content_title %}{% endblock %}</h1>
                {% for article in articles_page.object_list %}
                <!-- Comunicados indice -->
                <div class="comunicado"> <a href="{{ SITEURL }}/{{ article.url }}">
                    {% if article.image %}
                    <div class="imagen">
                        <img src="{{ SITEURL }}/{{ article.url }}{{ article.image }}" class="card-img-top" alt="Imagen previa">
                    </div>
                    {% endif %}
                    <div class="info">
                        <h2>{{ article.title }}</h2>
                        <p class="fecha">{{ article.date|strftime('%d %B %Y') }}</p>
                        {{ article.summary }}
                    </div>
                </a> </div>
                {% endfor %}
                <!-- Comunicados paginacion -->
                {% if articles_page %}
                <nav class="paginacion">
                    <ul class="pagination justify-content-center">
                        {% if articles_page.has_previous() %}
                        <li class="page-item">
                            {% if articles_page.previous_page_number() == 1 %}
                            <a class="page-link" aria-label="Previous" href="{{ SITEURL }}/{{ page_name }}.html">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            {% else %}
                            <a class="page-link" aria-label="Previous" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">
                                &#60;&#60;
                            </a>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% for page_number in range(1, 1 + articles_paginator.num_pages) %}
                        {% if (page_number - articles_page.number < 3) and (page_number - articles_page.number > -3) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ page_number if page_number > 1 else '' }}.html">
                                {{ page_number }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if articles_page.has_next() %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
            <div class="redes">
                <div class="facebook">
                    <div class="col-l fa"></div>
                    <div class="col-r">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fseseacoah%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
                <div class="twitter">
                    <div class="col-l fa"></div>
                    <div class="col-r"> <a class="twitter-timeline" data-lang="es" data-height="490" data-link-color="#3B6038" href="https://twitter.com/seseacoah?ref_src=twsrc%5Etfw">Tweets by seseacoah</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>No hay contenido.</p>
    {% endif %}
{% endblock %}
