
 <nav class="navbar fixed-top  navbar-light fixed-top" style="background-color: white; border-bottom: 3px solid #C3BFBF">
        <div class="container" style="font-weight: bold"> <a class="navbar-brand" href="/"><img src="/theme/images/logo-navigation2.png" alt="SEAC"> SEA Coahuila</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="border-left: 3px solid #C3BFBF; padding-left: 20px">

                <h3 style="color: gray">Menú</h3>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger" href="/index.html#que-es">&nbsp;&nbsp;<span class="bi bi-question-circle" style="font-size: 1.6rem; color: green"></span><span style="padding-left: 13px">Qué es el SEA</span></a></li>
                     <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/publicaciones/peac.pdf"><span><img src="/theme/images/imagenesOG/peaclog.png" style="width: 39px" alt=""></span>&nbsp;&nbsp;Política Estatal Anticorrupción</a></li>
                     <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger" href=""><span><img src="/theme/images/imagenesOG/sistemalog.png" style="width: 39px" alt=""></span>&nbsp;&nbsp;Sistema Estatal de Información</a></li>
                    <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/azimut/">&nbsp;&nbsp;<span><img src="/theme/images/imagenesOG/azimutlog.png" style="width: 31px" alt=""></span>&nbsp;&nbsp;Revista Azimut</a></li>
                    <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/boletines/"><span><img src="/theme/images/imagenesOG/boletinlog.png" style="width: 40px" alt=""></span>&nbsp;&nbsp;Publicaciones</a></li>
                    <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/transparencia/"><span><img src="/theme/images/imagenesOG/transparencialog.png" style="width: 40px" alt=""></span>&nbsp;&nbsp;Transparencia</a></li>
                    <li class="nav-item" style="font-size: 1rem;"><a class="nav-link js-scroll-trigger"  href="/secretaria-ejecutiva/institucional/contacto/">&nbsp;&nbsp;<span class="bi bi-envelope" style="font-size: 1.6rem"></span><span style="padding-left: 14.7px">Contacto</span></a></li></a></li>
                    <!--<li class="nav-item" style="font-size: 1rem";><a class="nav-link js-scroll-trigger"  href="#">&nbsp;&nbsp;<span class="bi bi-broadcast" style="font-size: 1.6rem; color: #D7484C;"></span><span style="padding-left: 15px">En vivo</span></a></li>-->
                </ul>
            </div>
        </div>
    </nav>
