

    <nav class="navbar fixed-top  navbar-light fixed-top" style="background-color: white;">
        <div class="container" style="font-weight: bold"> <a class="navbar-brand" href="/"><img src="/theme/images/logo-navigation2.png" alt="SEAC"> SEA Coahuila</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="border-left: 3px solid #C3BFBF; padding-left: 20px">

                <h3 style="color: gray">Menú</h3>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger" href="/index.html#que-es"><span class="bi bi-question-circle" style="font-size: 1.8rem; color: green"></span>&nbsp;&nbsp;Qué es el SEA</a></li>
                    <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger" href="/index.html#comunicados"><span class="bi bi-chat-right-text" style="font-size: 1.8rem; color: #22244E"></span>&nbsp;&nbsp;Comunicados</a></li>
                    <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/publicaciones/"><span class="bi bi-file-earmark-text" style="font-size: 1.8rem; color: #DF9A06;"></span>&nbsp;&nbsp;Publicaciones</a></li>
                     <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/publicaciones/peac.pdf"><span class="bi bi-puzzle" style="font-size: 1.8rem; color: #F21356;"></span>&nbsp;&nbsp;Política Estatal Anticorrupción &nbsp;<span class="bi bi-lightning-fill" style="font-size: .5em; color: #CDB93F">Nuevo</span></a></li>
                    <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/transparencia/"><span class="bi bi-search" style="font-size: 1.8rem; color: #664C6C"></span>&nbsp;&nbsp;Transparencia</a></li>
                    <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger"  href="/secretaria-ejecutiva/institucional/contacto/"><span class="bi bi-envelope" style="font-size: 1.8rem"></span>&nbsp;&nbsp;Contacto</a></li>
                    <li class="nav-item" style="font-size: 1.2rem";><a class="nav-link js-scroll-trigger"  href="/secretaria-ejecutiva/institucional/contacto/"><span class="bi bi-broadcast" style="font-size: 1.8rem; color: #D7484C;"></span>&nbsp;&nbsp;En vivo</a></li>
                </ul>
            </div>
        </div>
    </nav>


<!--
    <nav class="navbar fixed-top navbar-expand-lg navbar-light fixed-top" style="background-color: white;">
        <div class="container" style="font-weight: bold"> <a class="navbar-brand" href="/"><img src="/theme/images/logo-navigation2.png" alt="SEAC"> SEA Coahuila</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/index.html#que-es">Qué es el SEA</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/index.html#comunicados">Comunicados</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/publicaciones/">Publicaciones</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/secretaria-ejecutiva/transparencia/">Transparencia</a></li>
                    <li class="nav-item"><a class="nav-link" href="/secretaria-ejecutiva/institucional/contacto/">Contacto</a></li>
                    <li class="nav-item"><a class="bi bi-broadcast" style="font-size: 1.5rem; color: red; ;" href="#"></a></li>
                </ul>
            </div>
        </div>
    </nav> OLDNAV-->