            <div class="miembro" id="m5">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Miguel Felipe Mery Ayup</h2>
                    <h3 class="puesto">Presidente del Tribunal Superior de Justicia y del Consejo de la Judicatura del Poder Judicial del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="/theme/images/cc-pjecz-mfma.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Maestría en Política Aplicada, Instituciones y Procesos Políticos. Instituto Universitario de Investigación Ortega y Gasset. 2007.</li>
                        <li>Licenciado en Derecho. Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila. 1996.</li>
                        <li>Diplomado en Gobernanza Local y Liderazgo Territorial. Fundación Ortega y Gasset. 2018.</li>
                    </ul>
                    <h4>Experiencia Laboral</h4>
                    <ul>
                        <li>Noviembre 2019 a la fecha: Magistrado Presidente del Poder Judicial del Estado de Coahuila. Poder Judicial del Estado de Coahuila de Zaragoza.</li>
                        <li>2018 a octubre 2019: Magistrado Presidente de la Sala Regional. Poder Judicial del Estado de Coahuila de Zaragoza.</li>
                        <li>2014-2017: Primer Regidor de Torreón. Republicano Ayuntamiento de Torreón, Coahuila de Zaragoza.</li>
                        <li>2010-2013: Secretario del Republicano Ayuntamiento. Gobierno Municipal de Torreón, Coahuila de Zaragoza.</li>
                        <li>2009: Subsecretario de Desarrollo y Cooperación Política. Gobierno del Estado de Coahuila de Zaragoza.</li>
                        <li>2003-2005: Diputado Local. Congreso del Estado de Coahuila de Zaragoza.</li>
                        <li>2000-2002: Director General de Desarollo Social. Gobierno Municipal de Torreón, Coahuila de Zaragoza.</li>
                        <li>1996-1999: Secretario Particular Adjunto del Gobernador. Gobierno del Estado de Coahuila de Zaragoza.</li>
                    </ul>
                    <h4>Logros y proyectos realizados</h4>
                    <ul>
                        <li>Autor del Libro "La Nueva Vía, hacia un modelo de ciudad". 2017.</li>
                        <li>Sistema de Normatividad Municipal. 2015.</li>
                        <li>Re-ingeniería administrativa del Gobierno Municipal. 2014.</li>
                        <li>Monitor de Cabildo. 2011-2012.</li>
                    </ul>
                    <h4>Actividades Académicas</h4>
                    <ul>
                        <li>Catedrático en la Maestría en Políticas Públicas</li>
                        <li>Catedrático en Derecho Constitucional en la UAdeC</li>
                        <li>Catedrático en Teoría del Estado en la UAdeC</li>
                        <li>Catedrático en Políticas Públicas en la UAdeC</li>
                        <li>Catedrático en Administración Pública en la UAdeC</li>
                        <li>Catedrático en Administración en la UAdeC</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

