    <!-- CC Integrantes inicia -->
    <div class="contenedor-horizontal comite-coordinador clearfix ">
        <h3>¿Quien conforma el Comité Coordinador?</h3>
        <div class="miembros-prev">
            <div class="miembro"> <a href="#m1">
                <div class="foto"><img src="theme/images/ASEC_Jose_Armando_Plata_Sandoval.jpg"></div>
                <div class="info">
                    <h2 class="nombre">José Armando Plata Sandoval</h2>
                    <h3 class="puesto">Auditor Superior del Estado de Coahuila de Zaragoza</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
            <div class="miembro"> <a href="#m2">
                <div class="foto"><img src="theme/images/CPC_Ana_Yuri_Solis_Gaona.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Lic. Ana Yuri Solís Gaona</h2>
                    <h3 class="puesto">Consejera Presidente del Consejo de Participación Ciudadana</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
            <div class="miembro"> <a href="#m3">
                <div class="foto"><img src="theme/images/FECH_Jesus_Homero_Flores_Mier.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Maestro Jesús Homero Flores Mier</h2>
                    <h3 class="puesto">Titular de la Fiscalía Especializada en Delitos por Hechos de Corrupción</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
            <div class="miembro"> <a href="#m4">
                <div class="foto"><img src="theme/images/ICAI_Luis_Gonzalez_Briseno.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Luis González Briseño</h2>
                    <h3 class="puesto">Comisionado Presidente del Instituto Coahuilense de Acceso a la Información Pública</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
            <div class="miembro"> <a href="#m5">
                <div class="foto"><img src="theme/images/PJECZ_Miriam_Cardenas_Cantu.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Miriam Cárdenas Cantú</h2>
                    <h3 class="puesto">Presidenta del Tribunal Superior de Justicia y del Consejo de la Judicatura del Poder Judicial del Estado de Coahuila de Zaragoza</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
            <div class="miembro"> <a href="#m6">
                <div class="foto"><img src="theme/images/SEFIRC_Teresa_Guajardo_Berlanga.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Teresa Guajardo Berlanga</h2>
                    <h3 class="puesto">Secretaria de Fiscalización y Rendición de Cuentas del Estado de Coahuila de Zaragoza</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
            <div class="miembro"> <a href="#m7">
                <div class="foto"><img src="theme/images/TJACZ_Sandra_Luz_Rodriguez_Wong.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Sandra Luz Rodríguez Wong</h2>
                    <h3 class="puesto">Magistrada Presidenta del Tribunal de Justicia Administrativa de Coahuila de Zaragoza</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>
        </div>
        <div class="miembros-full">
            <div class="miembro" id="m1">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">José Armando Plata Sandoval</h2>
                    <h3 class="puesto">Auditor Superior del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="theme/images/ASEC_Jose_Armando_Plata_Sandoval.jpg"></div>
                <div class="bio">
                    <h4>Datos Profesionales</h4>
                    <ul>
                        <li>Contador Público Certificado.</li>
                        <li>Contador de Comercio.</li>
                        <li>Contador Público Certificado.</li>
                        <li>Maestro en Impuestos.</li>
                        <li>Maestro en Gestión Pública Aplicada.</li>
                        <li>Doctor en Administración y Alta Dirección.</li>
                    </ul>
                    <h4>Trayectoria Laboral</h4>
                    <ul>
                        <li>En el Sector Privado de 1972 a 1993. Diversos puestos administrativos y directivos en la industria automotriz, minero metalúrgica y harinera; despacho contable y fiscal propio.</li>
                        <li>En el Sector Público del Gobierno del Estado de Coahuila de 1993 a la fecha. Director de Auditoría Fiscal del Estado, Subcontador Mayor de Hacienda, Coordinador de Asesores de la Secretaría de Finanzas, Subsecretario de Auditoría Gubernamental de la Secretaría de la Función Pública y actualmente Auditor Superior del Estado.</li>
                    </ul>
                    <h4>Trayectoria Institucional</h4>
                    <ul>
                        <li>Colegio de Contadores Públicos de Saltillo, A.C. - Presidente del Consejo Directivo (1992 – 1993)</li>
                        <li>Instituto Mexicano de Contadores Públicos A. C. - Vicepresidente de Sector Gubernamental en diversos periodos: 2007-2009, 2011-2014.</li>
                        <li>Asociación Nacional de Organismos de Fiscalización Superior y Control Gubernamental (ASOFIS). Consejero directivo del año 2008 al 2018; actualmente, Coordinador de la Región Norte e integrante de la Comisión Permanente de la ASOFIS, para el periodo 2018-2020.</li>
                        <li> **Consejo Nacional de Armonización Contable.** Integrante del Comité Consultivo y sus grupos de trabajo (2009-2018) y Coordinador del grupo de trabajo de Contabilidad Gubernamental (2011-2014).</li>
                        <li> **Sistema Nacional de Fiscalización** Integrante de diversas instancias del SNF desde 2012-2018; Para el periodo 2017-2019 integrante del Comité Rector del Sistema Nacional de Fiscalización e integrante del grupo de trabajo de Creación de Capacidades.</li>
                    </ul>
                    <h4>Trayectoria Académica</h4>
                    <p>Ha fungido como docente en diversas universidades:</p>
                    <ul>
                        <li>Facultades Universitarias de Saltillo (1983 – 1984)</li>
                        <li>Universidad Autónoma del Noreste (1985 – 1990)</li>
                        <li>Universidad Autónoma Anáhuac - Mayab (2013 – 2014)</li>
                        <li>Universidad Autónoma de Coahuila (1990, 2014)</li>
                        <li>Creación de Diplomados en Contabilidad Gubernamental y Disciplina Financiera e Índice de Información Presupuestal Municipal bajo Convenio con la Secretaria de Hacienda y Crédito Público y la Asociación Nacional de Organismos de Fiscalización Superior y Control Gubernamental con alcance de 110 mil usuarios del sector público a nivel nacional.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>
            <div class="miembro" id="m2">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Lic. Ana Yuri Solís Gaona</h2>
                    <h3 class="puesto">Consejera Presidente del Consejo de Participación Ciudadana.</h3>
                </div>
                <div class="foto"><img src="theme/images/CPC_Ana_Yuri_Solis_Gaona.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Egresada de la Facultad de Economía con maestría en Administración Pública por la Universidad Iberoamericana.</li>
                    </ul>
                    <h4>Experiencia Profesional</h4>
                    <ul>
                        <li>2014 - 2017 Secretaria Técnica del Comité de Recursos Humanos en el Clúster de Energía Coahuila A. C.</li>
                        <li>2004 - 2013 Enlace de INEGI con el Gobierno del Estado de Coahuila. </li>
                        <li>2013 – 2014 Directora de Planeación en la Secretaría del Trabajo del Gobierno del Estado de Coahuila.</li>
                        <li>2010 – 2012 Coordinadora de Postgrado en la Facultad de Economía de la Universidad Autónoma de Coahuila.</li>
                        <li>2008 – 2012 Docente de Materias en Economía, Cuentas Nacionales y Población en la Universidad Autónoma de Coahuila.</li>
                        <li>2010 Asesora. Estudio sobre el Desarrollo de la Región Noreste en la Consultoría Demoanalítica, S.C.</li>
                        <li>2010 - 2013 Asesora en Indicadores de Competitividad para México en el Centro de Estudios para la Competitividad. Partner lnstitute del IMD - WCC en México.</li>
                        <li>2001 - 2004 Jefa de Proyectos en Planeación y Operación en el Instituto Coahuilense de las Mujeres.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>
            <div class="miembro" id="m3">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Maestro Jesús Homero Flores Mier</h2>
                    <h3 class="puesto">Titular de la Fiscalía Especializada en Delitos por Hechos de Corrupción.</h3>
                </div>
                <div class="foto"><img src="theme/images/FECH_Jesus_Homero_Flores_Mier.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Es Maestro y Licenciado en Derecho, por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        <li>Es el Titular de la Fiscalía Especializada en Delitos por Hechos de Corrupción del Estado de Coahuila de Zaragoza.</li>
                        <li>Es Presidente de la Comisión de Políticas Publicas y estudios en Materia de Prevención, Detección, Evaluación, e Investigación de Delitos de la Convención Nacional de Fiscales Anticorrupción.</li>
                        <li>Anteriormente fungió como Comisionado Presidente del Instituto Coahuilense de Acceso a la Información Pública del Estado de Coahuila de Zaragoza.</li>
                    </ul>
                    <h4>Ha cursado las maestrías en</h4>
                    <ul>
                        <li>Derechos Humanos con acentuación en Gobierno Abierto y Rendición de Cuentas en la Facultad de Jurisprudencia;</li>
                        <li>Gobernanza y Derechos Humanos en la Universidad Autónoma del Noreste.</li>
                    </ul>
                    <h4>Ha tomado diversos cursos como</h4>
                    <ul>
                        <li>Taller de Gerencia Política de Proyectos de Cambio, The George Washington University, en Washington, D.C.</li>
                        <li>Curso Internacional sobre "Gobierno Abierto" en la subsede de la Comisión Económica para América Latina y el Caribe - CEPAL;</li>
                        <li>Modulo sobre Derecho Penal "Nueva Legislación para la Procuración de Justicia y Seguridad Pública".</li>
                        <li>Seminario "Constitución, Democracia y Elecciones: La Reforma que Viene" en el Instituto de Investigaciones Jurídicas de la UNAM.</li>
                        <li>Cuarto Foro Regional de Difusión del Código Modelo del Proceso Penal Acusatorio para los Estados de la Federación, impartido por el Poder Judicial del Estado de Coahuila de Zaragoza y la Comisión Nacional de Tribunales Superiores de Justicia.</li>
                    </ul>
                    <h4>Se desempeñó como</h4>
                    <ul>
                        <li>Coordinador y Fundador de la Comisión de Gestión Documental, Tecnologías de la Información y Gobierno Abierto de la Conferencia Mexicana para el Acceso a la Información.</li>
                        <li>Integrante de la Comisión de Indicadores, Evaluación e Investigación y Comisión de Archivos y Gestión Documental.</li>
                        <li>Coordinador de los Institutos de Transparencia del País representándolos en la transición al actual Sistema Nacional de Transparencia.</li>
                        <li>Representante en el Consejo Nacional de Archivos de los Institutos y Consejos Estatales de Transparencia.</li>
                        <li>Ha impartido diversas pláticas y conferencias en relación a temas en materia de anticorrupción, de acceso a la información, datos personales, redes sociales y archivos, en eventos Internacionales y Nacionales, organizadas por Instituciones especialistas en las materias.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>
            <div class="miembro" id="m4">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Luis González Briseño</h2>
                    <h3 class="puesto">Comisionado Presidente del Instituto Coahuilense de Acceso a la Información Pública.</h3>
                </div>
                <div class="foto"><img src="theme/images/ICAI_Luis_Gonzalez_Briseno.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Licenciado en Derecho por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        <li>Maestro en Derecho Fiscal por la Universidad del Valle de México.</li>
                        <li>Master en Normativa de Protección de Datos en el Sector Sanitario por la Universidad de Cádiz, España.</li>
                        <li>Especialista en Protección de Datos Personales y Privacidad por la Universidad de Murcia, España.</li>
                    </ul>
                    <h4>Experiencia Profesional</h4>
                    <ul>
                        <li>Comisionado Presidente del ICAI.</li>
                        <li>Miembro de la Asociación Profesional Española de Privacidad, con sede en España.</li>
                        <li>Miembro de la Comisión de Datos Personales de la Conferencia Mexicana para el Acceso a la Información Pública.</li>
                    </ul>
                    <h4>Publicaciones</h4>
                    <ul>
                        <li>Dentro de publicaciones se encuentran el artículo de opinión titulado "Clasificación de las boletas electorales como dato personal". publicado en la Revista Lex, julio-agosto 2011.</li>
                        <li>"Evolución constitucional del derecho a la información y del derecho de acceso a la información pública en México", publicado en la Revista Lex, abril-mayo 2012.</li>
                    </ul>
                    <h4>Participación en congresos, encuentros y seminarios</h4>
                    <ul>
                        <li>Participó en el curso "El Derecho a la Protección de Datos Personales", impartido por la Agencia Española de Protección de Datos y la Fundación CEDDET.</li>
                        <li>Colaboró como ponente en el "7o Congreso Nacional de Organismos Públicos Autónomos", realizado en la ciudad de Puebla, Puebla.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>
            <div class="miembro" id="m5">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Miriam Cárdenas Cantú</h2>
                    <h3 class="puesto">Presidenta del Tribunal Superior de Justicia y del Consejo de la Judicatura del Poder Judicial del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="theme/images/PJECZ_Miriam_Cardenas_Cantu.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Licenciada en Derecho
                            <li>Maestría en Administración</li>
                        </ul>
                        <h4>Experiencia Laboral</h4>
                        <ul>
                            <li>Diputada Federal y Presidenta de la Comisión de Derechos Humanos de la Cámara de Diputados. Congreso de la Unión (2012 a 2015).</li>
                            <li>Magistrada Numeraria de la Sala Colegiada Civil y Familiar del Tribunal Superior de Justicia del Estado de Coahuila de Zaragoza (2005 a 2012).</li>
                            <li>Magistrada Presidenta de la Sala Colegiada Civil y Familiar del Tribunal Superior DE Justicia del Estado de Coahuila (2006-2007).</li>
                            <li>Consejera Consultiva de la Comisión Nacional de los Derechos Humanos (2006 a 2011).</li>
                            <li>Presidenta de la Comisión de Derechos Humanos del Estado de Coahuila (Segundo periodo por ratificación del Congreso del Estado de Coahuila – 2003 a 2005).</li>
                            <li>Presidenta de la Comisión de Derechos Humanos del Estado de Coahuila (Primer Periodo – 2001 a 2003).</li>
                            <li>Consejera Titular de la Comisión de Derechos Humanos del Estado de Coahuila (1998 a 2001).</li>
                            <li>Abogada postulante (1998 a 2001).</li>
                            <li>Secretaría Técnica de la Contraloría Social de la Mujer en Coahuila (1996 – 1999).</li>
                            <li>Consejera Unitaria de Saltillo del Consejo de Menores en el Estado de Coahuila (1994 a 1996).</li>
                            <li>Presidenta Supernumeraria del Consejo de Menores en el Estado de Coahuila (1994 -1996).</li>
                            <li>Jefa de Recursos Humanos del Hospital Universitario de Saltillo (1990 – 1993).</li>
                            <li>Oficial de Partes de la Dirección Estatal del Registro Civil del Estado de Coahuila (1990).</li>
                            <li>Asesor Jurídico del Oficial Mayor de la Universidad Autónoma de Coahuila (1987 a 1989).</li>
                        </ul>
                        <h4>Otras Actividades Profesionales</h4>
                        <ul>
                            <li>Coordinadora de la Región Sureste de la Fundación de la Universidad Autónoma de Coahuila (2013 a 2014).</li>
                            <li>Integrante del Frente Parlamentario Contra el Hambre Capítulo México (2012 a 2014).</li>
                            <li>Integrante de la Red de Mujeres Parlamentarias de las Américas.</li>
                            <li>Vicepresidenta Continental de la Comisión de Derechos Humanos, Pueblos Indígenas y Seguridad de los Ciudadanos de la Confederación Parlamentaria de las Américas.</li>
                            <li>Integrante del Mecanismo de Protección de Personas Defensoras de Derechos Humanos y Periodistas. (Por ministro de ley)</li>
                            <li>Integrante de la Comisión redactora del proyecto de reformas al Código Civil de Coahuila en materia de Adopciones (2007).</li>
                            <li>Coordinadora General del Consejo Interinstitucional para la Actualización del Marco Jurídico de la Comisión de Derechos Humanos del Estado de Coahuila, y de la Comisión Redactora del Proyecto de la nueva Ley Orgánica de la CEDHC (2005).</li>
                            <li>Integrante del Programa Internacional de Visitantes Distinguidos del Departamento del Estado de los Estados Unidos de Norteamérica (2005).</li>
                            <li>Presidenta de la Federación Mexicana de Organismos Públicos de Derechos Humanos (2005).</li>
                            <li>Tesorera de la Federación Mexicana de Organismos Públicos de Derechos Humanos (2003 a 2005).</li>
                            <li>Coordinadora General de la Comisión para elaborar el Proyecto del Manual de Supervisión Carcelaria para el Estado de Coahuila (Documento que sirvió de modelo al Manual de Supervisión penitenciaria de la CNDH - 2003).</li>
                            <li>Diputado Local Suplente (1999 a 2002).</li>
                            <li>Presidenta de la Asociación de Licenciados en Derecho de Coahuila, A.C. (1997 a 1998).</li>
                            <li>Socia Fundadora del Patronato para la Atención de Jóvenes en Situación Crítica. Centro de Rehabilitación Mejores Caminos (1995).</li>
                            <li>Accionista del Grupo Principal que agrupa los Restaurantes El Principal, Mesón del Principal, El Chivatito, Don Artemio y Salón de Eventos Villa Ferré (1992 a la fecha).</li>
                            <li>Gerente General del Restaurante El Chivatito Principal (1993 a 1994).</li>
                            <li>Gerente General del Restaurante El Principal Saltillo, Coahuila (1996 a 2001).</li>
                        </ul>
                        <h4>Actividades Académicas</h4>
                        <ul>
                            <li>Catedrática de "Derecho Familiar" en la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                            <li>Catedrática de "Derecho Penal I" en la Universidad Autónoma del Noreste.</li>
                            <li>Catedrática de "Derecho Laboral" en la Escuela de Trabajo Social de la Universidad Autónoma de Coahuila.</li>
                        </ul>
                        <h4>Publicaciones y Artículos</h4>
                        <ul>
                            <li>"Derechos Humanos de las Personas con Capacidades Diferentes". Revista Puntos. Publicación Secretaría de Educación Pública del Estado de Coahuila.</li>
                            <li>"Violencia en los Cuerpos Policíacos". Revista Puntos. IDEM.</li>
                            <li>"Derechos a la Maternidad en Prisión". Revista de la Facultad de Jurisprudencia de la UA de C.</li>
                            <li>"Derechos Humanos y Mujer". Revista Tú como nosotras del Gobierno del Estado de Coahuila.</li>
                            <li>"Que son los Derechos Humanos". Revista Mujeres. Publicación del Gobierno del Estado de Coahuila.</li>
                            <li>"Los Derechos Políticos desde la Perspectiva de los Derechos Humanos". Revista Jurídica. Publicación de la Asociación de Licenciadas en Derecho de Coahuila. A.C.</li>
                            <li>"Derecho a un Entorno Bello". Publicación de la Comisión Estatal de Derechos Humanos de Nuevo León.</li>
                            <li>"Hacer Efectivos los Derechos Humanos". Publicación de la Suprema Corte de Justicia de la Nación.</li>
                        </ul>
                        <h4>Distinciones Obtenidas</h4>
                        <ul>
                            <li>Presea "María Rebonato" por Excelencia Académica Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila (2014).</li>
                            <li>Premio del Búho 2012 por destacada trayectoria en Derechos Humanos. Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila (2012).</li>
                            <li>Reconocimiento por su compromiso y labor profesional en la promoción efectiva y defensa de los derechos fundamentales en nuestro país, al ser parte esencial del Consejo Consultivo de la CNDH por la Comisión Nacional de los Derechos Humanos (2011).</li>
                            <li>Reconocimiento como Mujer Destacada de Coahuila, por el Instituto Coahuilense de las Mujeres (2008).</li>
                            <li>Reconocimiento a la trayectoria Jurídica, por la Asociación de Licenciadas en Derecho de Coahuila, A. C. (2007).</li>
                            <li>Reconocimiento a la trayectoria profesional, por la Federación de Barras, Colegios y Asociaciones de Abogados del Estado de Coahuila (2006).</li>
                            <li>Reconocimiento del H. Ayuntamiento de Cuernavaca 2003 – 2006 por labor, entrega y entusiasmo a favor de los derechos humanos (2005).</li>
                            <li>Reconocimiento por excelente desempeño como Tesorera de la Federación Mexicana de Organismos Públicos de Derechos Humanos, así como su activa labor a favor de la defensa y promoción de los Derechos Fundamentales. Por la Federación Mexicana de Organismos Públicos de Derechos Humanos (2005).</li>
                            <li>Reconocimiento al Mérito Académico por haber obtenido el promedio de calificaciones más alto de la generación 1981 – 1986 de la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila (1986).</li>
                        </ul>
                    </div>
                    <div class="icon-comite"></div>
                </div>
                <div class="miembro" id="m6">
                    <div class="close-it">+</div>
                    <div class="info">
                        <h2 class="nombre">Teresa Guajardo Berlanga</h2>
                        <h3 class="puesto">Secretaria de Fiscalización y Rendición de Cuentas del Estado de Coahuila de Zaragoza.</h3>
                    </div>
                    <div class="foto"><img src="theme/images/SEFIRC_Teresa_Guajardo_Berlanga.jpg"></div>
                    <div class="bio">
                        <h4>Formación Académica</h4>
                        <ul>
                            <li>Es Licenciada en Derecho por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        </ul>
                        <h4>Cuenta con diversos diplomados, tales como</h4>
                        <ul>
                            <li>Diplomado en Transparencia y Buen Gobierno por el Instituto Tecnológico de Estudios Superiores de Monterrey.</li>
                            <li>Diplomado en Políticas Públicas, Gerencia y Gobierno Local por el Colegio Nacional de Ciencias Políticas y Administración Pública A.C.</li>
                            <li>Diplomado en materia de Derechos Humanos por la Universidad Autónoma de Coahuila, Comisión Nacional de Derechos Humanos y Comisión de Derechos Humanos del Estado de Coahuila Cuenta con certificación en materia de Protección de Datos Personales en posesión de los particulares por el Instituto Nacional de Acceso a la Información.</li>
                            <li>Diplomado Virtual de Contabilidad Gubernamental por la Asociación Nacional de Organismos de Fiscalización Superior y Control Gubernamental A.C.</li>
                        </ul>
                        <h4>Otras Actividades Profesionales</h4>
                        <ul>
                            <li>Fue Presidenta del Instituto Coahuilense de Acceso a la Información Pública; del cual formó parte activa durante 13 años.</li>
                            <li>Coordinó la Comisión de Educación de la COMAIP, impulso una nueva Ley de Acceso a la Información Pública y Protección de Datos Personales ante el Congreso del Estado de Coahuila de Zaragoza, convirtiéndose nuestro Estado y su Legislación referentes a nivel nacional en la materia.</li>
                            <li>Dentro del Sistema Nacional de Transparencia ocupo la Secretaria Técnica de la Comisión de los Derechos Humanos, Equidad de Género e Inclusión Social.</li>
                            <li>En el aspecto académico ha desempeñado actividades de docencia en educación universitaria de Instituciones Públicas y Privadas de la Región Carbonífera y de la Capital del Estado de Coahuila.</li>
                            <li>Es Conferencista en materia de Transparencia, Acceso a la Información, Rendición de Cuentas y Protección de Datos Personales y ha escrito diversos artículos publicados en un medio de comunicación.</li>
                        </ul>
                    </div>
                    <div class="icon-comite"></div>
                </div>
                <div class="miembro" id="m7">
                    <div class="close-it">+</div>
                    <div class="info">
                        <h2 class="nombre">Sandra Luz Rodríguez Wong</h2>
                        <h3 class="puesto">Magistrada Presidenta del Tribunal de Justicia Administrativa de Coahuila de Zaragoza.</h3>
                    </div>
                    <div class="foto"><img src="theme/images/TJACZ_Sandra_Luz_Rodriguez_Wong.jpg"></div>
                    <div class="bio">
                        <h4>Formación Académica</h4>
                        <ul>
                            <li>Es Licenciada en Derecho y Maestra en Derecho Fiscal por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                            <li>Es también Mediador Acreditado ante el Instituto de Mediación de México.</li>
                            <li>Actualmente, es candidata a Doctor en Derecho Constitucional, por la Universidad Autónoma del Noreste y Catedrática de la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        </ul>
                        <h4> Ha desempeñado diversos cargos públicos </h4>
                        <ul>
                            <li>En el ámbito municipal, colaboró como apoderada jurídica del Sistema para el Desarrollo Integral de la Familia del municipio de Saltillo.</li>
                            <li>Ha colaborado en Organismos Autónomos como en el Instituto federal electoral, fungió también como Secretario abogado de la Procuraduría electoral y como Primer Visitador de la Comisión de Derechos Humanos del Estado</li>
                            <li>En el ámbito federal, ocupó en su momento, la Dirección del Bufete Jurídico de asesoría Gratuita</li>
                            <li>En el servicio público estatal ocupó la Subdireccción de la Defensoría de Oficio en materia penal, y posteriormente la Subdirección de la Unidad de Defensa Civil y Familiar. Años mas tarde, se hace cargo del despacho de la Dirección de la Propia Defensoría</li>
                            <li>Fue también; Directora de Notarías del estado, Directora Estatal del Registro Civil, Administradora Central del Registro Público y Consejera Jurídica del Estado.</li>
                        </ul>
                    </div>
                    <div class="icon-comite"></div>
                </div>
            </div>
        </div>
        <!-- CC Integrantes termina -->

