            <div class="miembro" id="m5">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Miguel Felipe Mery Ayup</h2>
                    <h3 class="puesto">Presidente del Tribunal Superior de Justicia y del Consejo de la Judicatura del Poder Judicial del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="/theme/images/cc-pjecz-mfma.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Fundación Internacional y para Iberoamérica de Administración y Políticas Públicas (FIIAPP), Máster en Estudios Políticos Aplicados, 2006–2007</li>
                        <li>Universidad Autónoma de Coahuila, Facultad de Jurisprudencia, Licenciatura en Derecho 1991–1996</li>
                    </ul>
                    <h4>Experiencia Laboral</h4>
                    <ul>
                        <li>Primer Regidor Electo. Ayuntamiento de Torreón 2014-2017</li>
                        <li>Secretario del R. Ayuntamiento de Torreón 2010-2013</li>
                        <li>Diputado Propietario, Congreso del Estado de Coahuila de Zaragoza 2003-2005</li>
                        <li>Director General de Desarrollo Social, Ayuntamiento de Torreón 2000-2002</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

