    <!-- Transparencia -->
    <div id="transparencia" class="contenedor-horizontal  transparencia-externos clearfix ">
        <div class="transparencia">
            <h4>TRANSPARENCIA</h4>
            <ul>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/art-21-01-estructura-organica/">Estructura orgánica</a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/art-21-02-marco-normativo/">Marco Normativo</a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/art-21-21-calendario-de-reuniones-publicas/">Calendario de Reuniones Públicas</a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/art-21-22-unidad-de-transparencia-y-comite-de-transparencia/">Cómite de Transparencia</a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/">Información Pública de Oficio</a></li>
            </ul>
        </div>
        <div class="externos">
            <h4>VÍNCULOS EXTERNOS</h4>
            <ul>
                <li><a href="http://www.cpccoahuila.org.mx/" target="_blank">Consejo de Participación<br>Ciudadana</a></li>
                <li><a href="http://sna.org.mx/" target="_blank">Sistema Nacional<br>Anticorrupción</a></li>
                <li><a href="http://guiaciudadanadelsna.org.mx/" target="_blank">Guía Ciudadana<br>del SNA</a></li>
                <li><a href="https://ethos.org.mx/es/ethos-publications/sna-y-el-nuevo-regimen-de-responsabilidades-2/" target="_blank">El SNA y el nuevo régimen de<br>Responsabilidades</a></li>
            </ul>
        </div>
    </div>

