    <!-- Transparencia -->
    <div id="transparencia" class="contenedor-horizontal  transparencia-externos clearfix ">
        <div class="transparencia">
            <h4>TRANSPARENCIA</h4>
            <ul>
                <li><a class="">Estructura orgánica</a></li>
                <li><a class="">Marco Normativo</a></li>
                <li><a class="">Calendario de Reuniones Públicas</a></li>
                <li><a class="">Cómite de Transparencia</a></li>
                <li><a class="">Información Pública de Oficio</a></li>
                <li><a class="">Información Pública de Oficio</a></li>
            </ul>
        </div>
        <div class="externos">
            <h4>VINCULOS EXTERNOS</h4>
            <ul>
                <li><a class="">Consejo de Participación<br>Ciudadana</a></li>
                <li><a class="">Guía Ciudadana<br>del SNA</a></li>
                <li><a class="">Sistema Nacional<br>Anticorrupción</a></li>
                <li><a class="">El Nuevo Régimen de<br>Responsabilidades</a></li>
            </ul>
        </div>
    </div>

