    <!-- Destacados -->
    <div class="contenedor-horizontal bloque-navegacion clearfix ">
        <div class="nivel">
            <h4>Comité Coordinador</h4>
            <ul class="links">
                <li><a href="{{ SITEURL }}/cc/institucional/que-es-el-cc/">
                    <div class="icon"><img src="theme/images/destacados-que-es.png" alt="Que es el CC"></div>
                    <p>¿QUÉ ES EL CC?</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cc/planes/plan-de-trabajo-cc-2018/">
                    <div class="icon"><img src="theme/images/destacados-plan-de-trabajo.png" alt="Plan de Trabajo del CC"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cc/informes/2018-informe-anual/">
                    <div class="icon"><img src="theme/images/destacados-informe-anual.png" alt="Informe Anual del CC"></div>
                    <p>Informe Anual</p>
                </a></li>
            </ul>
        </div>
        <div class="nivel">
            <h4>Consejo de Participación Ciudadana</h4>
            <ul class="links">
                <li><a href="{{ SITEURL }}/cpc/institucional/que-es-el-cpc/">
                    <div class="icon"><img src="theme/images/destacados-que-es.png" alt="Que es el CPC"></div>
                    <p>¿QUÉ ES EL CPC?</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/planes/plan-de-trabajo-cpc-2019/">
                    <div class="icon"><img src="theme/images/destacados-plan-de-trabajo.png" alt="Plan de Trabajo del CPC"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/declaraciones/3-de-3/">
                    <div class="icon"><img src="theme/images/destacados-declaracion-3-de-3.png" alt="Declaraciones 3 de 3"></div>
                    <p>DECLARACIONES 3 DE 3</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/institucional/documentos-cpc/">
                    <div class="icon"><img src="theme/images/destacados-documentos.png" alt="Documentos CPC"></div>
                    <p>DOCUMENTOS</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/institucional/contacto-cpc/">
                    <div class="icon"><img src="theme/images/destacados-contacto.png" alt="Contacto CPC"></div>
                    <p>CONTACTO</p>
                </a></li>
            </ul>
        </div>
        <div class="nivel">
            <h4>Secretaría Ejecutiva</h4>
            <ul class="links">
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/institucional/que-es-la-secretaria-ejecutiva/">
                    <div class="icon"><img src="theme/images/destacados-que-es.png" alt="Que es la SE"></div>
                    <p>¿QUÉ ES LA SE?</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/planes/plan-de-trabajo-2019/">
                    <div class="icon"><img src="theme/images/destacados-plan-de-trabajo.png" alt="Plan de Trabajo"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/capacitacion/2018-05-primera-capacitacion-y-difusion/">
                    <div class="icon"><img src="theme/images/destacados-documentos.png" alt="Capacitación"></div>
                    <p>CAPACITACIÓN</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/datos/">
                    <div class="icon"><img src="theme/images/destacados-datos.png" alt="Datos"></div>
                    <p>DATOS</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/publicaciones/">
                    <div class="icon"><img src="theme/images/destacados-documentos.png" alt="Publicaciones"></div>
                    <p>PUBLICACIONES</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/institucional/contacto/">
                    <div class="icon"><img src="theme/images/destacados-contacto.png" alt="Contacto"></div>
                    <p>CONTACTO</p>
                </a></li>
            </ul>
        </div>
    </div>

