    <!-- Comité Coordinador -->
    <div class="contenedor-horizontal logos-inst clearfix">
        <div class="logos">
            <img src="{{ SITEURL }}/theme/images/cc-cpc.png">
            <img src="{{ SITEURL }}/theme/images/cc-asec.png">
            <img src="{{ SITEURL }}/theme/images/cc-fehc.png">
            <img src="{{ SITEURL }}/theme/images/cc-sefirc.png">
            <img src="{{ SITEURL }}/theme/images/cc-pjecz.png">
            <img src="{{ SITEURL }}/theme/images/cc-icai.png">
            <img src="{{ SITEURL }}/theme/images/cc-tjacz.png">
        </div>
    </div>

