            <div class="miembro" id="m5">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Miriam Cárdenas Cantú</h2>
                    <h3 class="puesto">Presidenta del Tribunal Superior de Justicia y del Consejo de la Judicatura del Poder Judicial del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="{{ SITEURL }}/theme/images/cc-pjecz-mcc.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Licenciada en Derecho</li>
                        <li>Maestría en Administración</li>
                    </ul>
                    <h4>Experiencia Laboral</h4>
                    <ul>
                        <li>Diputada Federal y Presidenta de la Comisión de Derechos Humanos de la Cámara de Diputados. Congreso de la Unión (2012 a 2015).</li>
                        <li>Magistrada Numeraria de la Sala Colegiada Civil y Familiar del Tribunal Superior de Justicia del Estado de Coahuila de Zaragoza (2005 a 2012).</li>
                        <li>Magistrada Presidenta de la Sala Colegiada Civil y Familiar del Tribunal Superior DE Justicia del Estado de Coahuila (2006-2007).</li>
                        <li>Consejera Consultiva de la Comisión Nacional de los Derechos Humanos (2006 a 2011).</li>
                        <li>Presidenta de la Comisión de Derechos Humanos del Estado de Coahuila (Segundo periodo por ratificación del Congreso del Estado de Coahuila – 2003 a 2005).</li>
                        <li>Presidenta de la Comisión de Derechos Humanos del Estado de Coahuila (Primer Periodo – 2001 a 2003).</li>
                        <li>Consejera Titular de la Comisión de Derechos Humanos del Estado de Coahuila (1998 a 2001).</li>
                        <li>Abogada postulante (1998 a 2001).</li>
                        <li>Secretaría Técnica de la Contraloría Social de la Mujer en Coahuila (1996 – 1999).</li>
                        <li>Consejera Unitaria de Saltillo del Consejo de Menores en el Estado de Coahuila (1994 a 1996).</li>
                        <li>Presidenta Supernumeraria del Consejo de Menores en el Estado de Coahuila (1994 -1996).</li>
                        <li>Jefa de Recursos Humanos del Hospital Universitario de Saltillo (1990 – 1993).</li>
                        <li>Oficial de Partes de la Dirección Estatal del Registro Civil del Estado de Coahuila (1990).</li>
                        <li>Asesor Jurídico del Oficial Mayor de la Universidad Autónoma de Coahuila (1987 a 1989).</li>
                    </ul>
                    <h4>Otras Actividades Profesionales</h4>
                    <ul>
                        <li>Coordinadora de la Región Sureste de la Fundación de la Universidad Autónoma de Coahuila (2013 a 2014).</li>
                        <li>Integrante del Frente Parlamentario Contra el Hambre Capítulo México (2012 a 2014).</li>
                        <li>Integrante de la Red de Mujeres Parlamentarias de las Américas.</li>
                        <li>Vicepresidenta Continental de la Comisión de Derechos Humanos, Pueblos Indígenas y Seguridad de los Ciudadanos de la Confederación Parlamentaria de las Américas.</li>
                        <li>Integrante del Mecanismo de Protección de Personas Defensoras de Derechos Humanos y Periodistas. (Por ministro de ley)</li>
                        <li>Integrante de la Comisión redactora del proyecto de reformas al Código Civil de Coahuila en materia de Adopciones (2007).</li>
                        <li>Coordinadora General del Consejo Interinstitucional para la Actualización del Marco Jurídico de la Comisión de Derechos Humanos del Estado de Coahuila, y de la Comisión Redactora del Proyecto de la nueva Ley Orgánica de la CEDHC (2005).</li>
                        <li>Integrante del Programa Internacional de Visitantes Distinguidos del Departamento del Estado de los Estados Unidos de Norteamérica (2005).</li>
                        <li>Presidenta de la Federación Mexicana de Organismos Públicos de Derechos Humanos (2005).</li>
                        <li>Tesorera de la Federación Mexicana de Organismos Públicos de Derechos Humanos (2003 a 2005).</li>
                        <li>Coordinadora General de la Comisión para elaborar el Proyecto del Manual de Supervisión Carcelaria para el Estado de Coahuila (Documento que sirvió de modelo al Manual de Supervisión penitenciaria de la CNDH - 2003).</li>
                        <li>Diputado Local Suplente (1999 a 2002).</li>
                        <li>Presidenta de la Asociación de Licenciados en Derecho de Coahuila, A.C. (1997 a 1998).</li>
                        <li>Socia Fundadora del Patronato para la Atención de Jóvenes en Situación Crítica. Centro de Rehabilitación Mejores Caminos (1995).</li>
                        <li>Accionista del Grupo Principal que agrupa los Restaurantes El Principal, Mesón del Principal, El Chivatito, Don Artemio y Salón de Eventos Villa Ferré (1992 a la fecha).</li>
                        <li>Gerente General del Restaurante El Chivatito Principal (1993 a 1994).</li>
                        <li>Gerente General del Restaurante El Principal Saltillo, Coahuila (1996 a 2001).</li>
                    </ul>
                    <h4>Actividades Académicas</h4>
                    <ul>
                        <li>Catedrática de "Derecho Familiar" en la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        <li>Catedrática de "Derecho Penal I" en la Universidad Autónoma del Noreste.</li>
                        <li>Catedrática de "Derecho Laboral" en la Escuela de Trabajo Social de la Universidad Autónoma de Coahuila.</li>
                    </ul>
                    <h4>Publicaciones y Artículos</h4>
                    <ul>
                        <li>"Derechos Humanos de las Personas con Capacidades Diferentes". Revista Puntos. Publicación Secretaría de Educación Pública del Estado de Coahuila.</li>
                        <li>"Violencia en los Cuerpos Policíacos". Revista Puntos. IDEM.</li>
                        <li>"Derechos a la Maternidad en Prisión". Revista de la Facultad de Jurisprudencia de la UA de C.</li>
                        <li>"Derechos Humanos y Mujer". Revista Tú como nosotras del Gobierno del Estado de Coahuila.</li>
                        <li>"Que son los Derechos Humanos". Revista Mujeres. Publicación del Gobierno del Estado de Coahuila.</li>
                        <li>"Los Derechos Políticos desde la Perspectiva de los Derechos Humanos". Revista Jurídica. Publicación de la Asociación de Licenciadas en Derecho de Coahuila. A.C.</li>
                        <li>"Derecho a un Entorno Bello". Publicación de la Comisión Estatal de Derechos Humanos de Nuevo León.</li>
                        <li>"Hacer Efectivos los Derechos Humanos". Publicación de la Suprema Corte de Justicia de la Nación.</li>
                    </ul>
                    <h4>Distinciones Obtenidas</h4>
                    <ul>
                        <li>Presea "María Rebonato" por Excelencia Académica Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila (2014).</li>
                        <li>Premio del Búho 2012 por destacada trayectoria en Derechos Humanos. Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila (2012).</li>
                        <li>Reconocimiento por su compromiso y labor profesional en la promoción efectiva y defensa de los derechos fundamentales en nuestro país, al ser parte esencial del Consejo Consultivo de la CNDH por la Comisión Nacional de los Derechos Humanos (2011).</li>
                        <li>Reconocimiento como Mujer Destacada de Coahuila, por el Instituto Coahuilense de las Mujeres (2008).</li>
                        <li>Reconocimiento a la trayectoria Jurídica, por la Asociación de Licenciadas en Derecho de Coahuila, A. C. (2007).</li>
                        <li>Reconocimiento a la trayectoria profesional, por la Federación de Barras, Colegios y Asociaciones de Abogados del Estado de Coahuila (2006).</li>
                        <li>Reconocimiento del H. Ayuntamiento de Cuernavaca 2003 – 2006 por labor, entrega y entusiasmo a favor de los derechos humanos (2005).</li>
                        <li>Reconocimiento por excelente desempeño como Tesorera de la Federación Mexicana de Organismos Públicos de Derechos Humanos, así como su activa labor a favor de la defensa y promoción de los Derechos Fundamentales. Por la Federación Mexicana de Organismos Públicos de Derechos Humanos (2005).</li>
                        <li>Reconocimiento al Mérito Académico por haber obtenido el promedio de calificaciones más alto de la generación 1981 – 1986 de la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila (1986).</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

