            <div class="miembro" id="m1">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Manuel Ramírez Briones</h2>
                    <h3 class="puesto">Auditor Superior del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="/theme/images/cc-asec-as.png"></div>
                <div class="bio">
                    <h4>Datos Profesionales</h4>
                    <ul>
                        <li>Contador Público (1981-1985), por la Universidad Autónoma de Coahuila, Torreón, Coahuila</li>
                  
                    </ul>
                    <h4>Trayectoria Profesional</h4>
                    <ul>
                        <li>Auditor Especial de Planeación y Servicios Administrativos de la ASEC </li>
                        <li>Auditor de Planeación e Información de la ASEC  </li>
                        <li>Auditor Especial de Cumplimiento Financiero de la ASEC  </li>
                        <li>Auditor Especial de Desempeño de la ASEC </li>
                        <li>Encargado de la Dirección General de Evaluación y Seguimiento SEFIN</li>
                        <li>Director General de Impuestos SEFIN</li>
                        <li>Despacho de Asesoría a Entidades Gubernamentales como Socio Director</li>
                        <li>Director de Contabilidad del Municipio de Torreón</li>
                        <li>Jefe de Departamento de Contabilidad del Municipio de Torreón </li>
                    </ul>
                 
                    <h4>Trayectoria Académica</h4>         
                    <ul>
                        <li>Catedrático de las materias Auditoría y Contabilidad (1992-1996) UAdeC</li>
                        <li>Auditor en la Contraloría General (Enero 1990 a enero 1996) UAdeC</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

