    <!-- Qué es el SEA -->
    <div id="que-es" class="contenedor-horizontal que-es-el-sea clearfix">
        <div class="que-es">
            <h1>¿QUÉ ES EL SEA?</h1>
            <p>El Comité Coordinador del Sistema Anticorrupción del Estado de Coahuila de Zaragoza es la instancia responsable de establecer mecanismos de coordinación entre los integrantes del Sistema Estatal, y de éste con el Sistema Nacional, y tendrá bajo su encargo el diseño, promoción y evaluación de políticas públicas locales de prevención y combate a la corrupción.</p>
            <div class="video-que-es"><iframe width="560" height="315" src="https://www.youtube.com/embed/5BOENuByLBc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>

