    <div id="carrusel" class="contenedor-horizontal slider-area clearfix">
        <div class="theme-default">
            <div class="slider" id="slider">
         <!--  <a> <img src="/theme/images/31-07-20-terna.jpg">
               <a href="/comunicados/2020-07-11-candidatos-aspirante-st/"><img src="/theme/images/2020-07-11-candidatos-terna-st.jpg"></a>
                <a href="/comunicados/2020-07-08-acuerdo-de-ampliacion/"><img src="/theme/images/2020-07-08-acuerdo-de-ampliacion.jpg"></a>
                <a href="/comunicados/2020-06-18-bases-convocatoria-st-sesaec/"><img src="/theme/images/2020-06-18-bases-convocatoria-st-sesaec.jpg"></a>
                -->
                <a href="https://tjacoahuila.org/convocatoria-2020.html"><img src="/theme/images/12-08-20-concurso-ensayo.jpg"></a>
                <a href="https://www.cpccoahuila.org.mx/documentos/2019-12-19-plan-de-trabajo/" target="_blank"><img src="/theme/images/2019-12-21-cpc-coahuila-plan-de-trabajo-2019-2020.jpg"></a>
                <!--<a href="/cc/informes/2019-informe-anual/"><img src="/theme/images/2019-11-08-informe-cc-2018-2019.jpg"></a>-->
                <a href="/secretaria-ejecutiva/publicaciones/azimut-2020-01/"><img src="/theme/images/2020-01-01-revista-azimut.jpg"></a>
                <a href="/secretaria-ejecutiva/publicaciones/boletin-anticorrupcion-coahuila-2019-11/"><img src="/theme/images/2019-05-07-boletin.jpg"></a>
                <a href="/secretaria-ejecutiva/infografias/"><img src="/theme/images/2019-05-07-infografias.jpg"></a>
            </div> 
        </div>
    </div>

