    <!--<div id="cc-logotipos" class="contenedor-horizontal logos-inst clearfix">
        <div class="logos">
            <a href="https://www.cpccoahuila.org.mx/" target="_blank"><img src="/theme/images/cc-cpc.png"></a>
            <a href="https://www.asecoahuila.gob.mx/" target="_blank"><img src="/theme/images/cc-asec.png"></a>
            <a href="http://187.189.19.101:8080/WebPGJE/fiscalia-especializada-en-delitos-por-hechos-de-corrupcion.html" target="_blank"><img src="/theme/images/cc-fehc.png"></a>
            <a href="http://www.sefircoahuila.gob.mx/" target="_blank"><img src="/theme/images/cc-sefirc.png"></a>
            <a href="https://www.pjecz.gob.mx/" target="_blank"><img src="/theme/images/cc-pjecz.png"></a>
            <a href="http://www.icai.org.mx/" target="_blank"><img src="/theme/images/cc-icai.png"></a>
            <a href="http://www.tjacoahuila.org/" target="_blank"><img src="/theme/images/cc-tjacz.png"></a>
        </div>
    </div>

 <div id="cc-logotipos" class="contenedor-horizontal logos-inst clearfix" style="background-color: #A5B0A2 ">
        <div class="logos">
            <a href="https://www.cpccoahuila.org.mx/" target="_blank"><img src="/theme/images/footer-cpc.png"></a>
            <a href="https://www.asecoahuila.gob.mx/" target="_blank"><img src="/theme/images/footer-asec.png"></a>
            <a href="http://187.189.19.101:8080/WebPGJE/fiscalia-especializada-en-delitos-por-hechos-de-corrupcion.html" target="_blank"><img src="/theme/images/footer-fech.png"></a>
            <a href="http://www.sefircoahuila.gob.mx/" target="_blank"><img src="/theme/images/footer-sefirc.png"></a>
            <a href="https://www.pjecz.gob.mx/" target="_blank"><img  src="/theme/images/footer-pjec.png"></a>
            <a href="http://www.icai.org.mx/" target="_blank"><img src="/theme/images/footer-icai.png"></a>
            <a href="http://www.tjacoahuila.org/" target="_blank"><img src="/theme/images/footer-tjac.png"></a>
        </div>
    </div>-->
   <div class="contenedor-horizontal" style="border-top: 5px solid #A5B0A2; border-bottom: 5px solid #A5B0A2; margin-top: 10px">
        <div class="container">
    <table  align="center" style="margin: 0px">
  <tr>
      <th width="10%" scope="col"><a href="https://www.cpccoahuila.org.mx/" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/cpc_icono.png" alt="CPC"  /></div></a></th>
        <th width="14%" scope="col"><a href="https://www.asecoahuila.gob.mx/" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/ASE.png" alt="ASE - Coahuila" width="180" /></div></a></th>
        <th width="10%" scope="col"><a href="http://187.189.19.101:8080/WebPGJE/fiscalia-especializada-en-delitos-por-hechos-de-corrupcion.html" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/FEHC.png" alt="Fiscalia Especializada " width="90" /></div></a></th>
        <th width="10%" scope="col"><a href="http://www.sefircoahuila.gob.mx/" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/logo_serifc.png" alt="SEFIRC" width="90" /></div></a></th>
        <th width="12%" scope="col"><a href="https://www.pjecz.gob.mx/" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/logo_pjecz.png" alt="PJECZ" width="90" /></div></a></th>
        <th width="14%" scope="col"><a href="http://www.icai.org.mx/" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/icai.png" alt="ICAI" width="180" /></div></a></th>
         <th width="14%" scope="col"><a href="http://www.tjacoahuila.org/" target="_blank"><div align="center"><img src="/theme/images/imagenesOG/TJAdministrativa.png" alt="Tribunal de Justicia Administrativa" width="140" /></div></a></th>
  </tr>
 </table></div>
</div>