    <div id="carrusel" class="contenedor-horizontal slider-area clearfix" style="border-bottom: 1px solid gray">
        <div class="theme-default">
            <div class="slider" id="slider">
                <a href="/comunicados/2023-03-13-capacitacion-municipios/">
                    <img src="/theme/images/gira-municipios-2023.png" alt="Gira a municipios 2023"></a>
                <a href="/secretaria-ejecutiva/publicaciones/peac.pdf"><img src="/theme/images/baner-peac2.jpg" alt="Política Estatal Anticorrupción"></a>
                <a href="#"><img src="/theme/images/banner-campaña-anticorrupcion.jpg" alt="Campaña Anticorrupción Banner"></a>
                <a href="/cc/informes/2022-informe-anual/InformeCC-2022.pdf"><img src="/cc/informes/2022-informe-anual/informe-2022.png" alt="Informe anual Comite Corrdinador Banner"></a>
                <!-- <a href="/theme/images/InformeCPC-2020-2.pdf" target="_blank"><img src="/theme/images/InformeCPCbanner.jpg"></a> -->
               <!-- <a href="/secretaria-ejecutiva/publicaciones/azimut-2020-05/"><img src="/secretaria-ejecutiva/publicaciones/azimut-2020-05/banner.jpg"></a>
                
                <a href="https://www.cpccoahuila.org.mx/documentos/2019-12-19-plan-de-trabajo/" target="_blank"><img src="/theme/images/2019-12-21-cpc-coahuila-plan-de-trabajo-2019-2020.jpg"></a> -->
                <a href="/secretaria-ejecutiva/infografias/"><img src="/theme/images/2019-05-07-infografias.jpg" alt="Ver infografías"></a>
            </div>
        </div>
    </div>

