    <!-- Comité Coordinador -->
    <div class="contenedor-horizontal logos-inst clearfix">
        <div class="logos">
            <a href="http://www.cpccoahuila.org.mx/" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-cpc.png"></a>
            <a href="https://www.asecoahuila.gob.mx/" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-asec.png"></a>
            <a href="http://187.189.19.101:8080/WebPGJE/fiscalia-especializada-en-delitos-por-hechos-de-corrupcion.html" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-fehc.png"></a>
            <a href="http://www.sefircoahuila.gob.mx/" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-sefirc.png"></a>
            <a href="https://www.pjecz.gob.mx/" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-pjecz.png"></a>
            <a href="http://www.icai.org.mx/" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-icai.png"></a>
            <a href="http://www.tjacoahuila.org/" target="_blank"><img src="{{ SITEURL }}/theme/images/cc-tjacz.png"></a>
        </div>
    </div>

