            <div class="miembro" id="m4">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Luis González Briseño</h2>
                    <h3 class="puesto">Comisionado Presidente del Instituto Coahuilense de Acceso a la Información Pública.</h3>
                </div>
                <div class="foto"><img src="{{ SITEURL }}/theme/images/cc-icai-lgb.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Licenciado en Derecho por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        <li>Maestro en Derecho Fiscal por la Universidad del Valle de México.</li>
                        <li>Master en Normativa de Protección de Datos en el Sector Sanitario por la Universidad de Cádiz, España.</li>
                        <li>Especialista en Protección de Datos Personales y Privacidad por la Universidad de Murcia, España.</li>
                    </ul>
                    <h4>Experiencia Profesional</h4>
                    <ul>
                        <li>Comisionado Presidente del ICAI.</li>
                        <li>Miembro de la Asociación Profesional Española de Privacidad, con sede en España.</li>
                        <li>Miembro de la Comisión de Datos Personales de la Conferencia Mexicana para el Acceso a la Información Pública.</li>
                    </ul>
                    <h4>Publicaciones</h4>
                    <ul>
                        <li>Dentro de publicaciones se encuentran el artículo de opinión titulado "Clasificación de las boletas electorales como dato personal". publicado en la Revista Lex, julio-agosto 2011.</li>
                        <li>"Evolución constitucional del derecho a la información y del derecho de acceso a la información pública en México", publicado en la Revista Lex, abril-mayo 2012.</li>
                    </ul>
                    <h4>Participación en congresos, encuentros y seminarios</h4>
                    <ul>
                        <li>Participó en el curso "El Derecho a la Protección de Datos Personales", impartido por la Agencia Española de Protección de Datos y la Fundación CEDDET.</li>
                        <li>Colaboró como ponente en el "7o Congreso Nacional de Organismos Públicos Autónomos", realizado en la ciudad de Puebla, Puebla.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

