    <!-- Qué es el SEA -->
    <div id="que-es" class="contenedor-horizontal que-es-el-sea clearfix">
        <div class="que-es">
            <h1>¿QUÉ ES EL SEA?</h1>
            <p>El Comité Coordinador del Sistema Anticorrupción del Estado de Coahuila de Zaragoza es la instancia responsable de establecer mecanismos de coordinación entre los integrantes del Sistema Estatal, y de éste con el Sistema Nacional, y tendrá bajo su encargo el diseño, promoción y evaluación de políticas públicas locales de prevención y combate a la corrupción.</p>
            <a class="video-que-es" href="http://techslides.com/demos/sample-videos/small.mp4"><img src="{{ SITEURL }}/theme/images/que-es-video-screenshot.jpg"></a>
        </div>
    </div>

