            <div class="miembro" id="m6">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Teresa Guajardo Berlanga</h2>
                    <h3 class="puesto">Secretaria de Fiscalización y Rendición de Cuentas del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="/theme/images/cc-sefirc-tgb.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Es Licenciada en Derecho por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                    </ul>
                    <h4>Cuenta con diversos diplomados, tales como</h4>
                    <ul>
                        <li>Diplomado en Transparencia y Buen Gobierno por el Instituto Tecnológico de Estudios Superiores de Monterrey.</li>
                        <li>Diplomado en Políticas Públicas, Gerencia y Gobierno Local por el Colegio Nacional de Ciencias Políticas y Administración Pública A.C.</li>
                        <li>Diplomado en materia de Derechos Humanos por la Universidad Autónoma de Coahuila, Comisión Nacional de Derechos Humanos y Comisión de Derechos Humanos del Estado de Coahuila Cuenta con certificación en materia de Protección de Datos Personales en posesión de los particulares por el Instituto Nacional de Acceso a la Información.</li>
                        <li>Diplomado Virtual de Contabilidad Gubernamental por la Asociación Nacional de Organismos de Fiscalización Superior y Control Gubernamental A.C.</li>
                    </ul>
                    <h4>Otras Actividades Profesionales</h4>
                    <ul>
                        <li>Fue Presidenta del Instituto Coahuilense de Acceso a la Información Pública; del cual formó parte activa durante 13 años.</li>
                        <li>Coordinó la Comisión de Educación de la COMAIP, impulso una nueva Ley de Acceso a la Información Pública y Protección de Datos Personales ante el Congreso del Estado de Coahuila de Zaragoza, convirtiéndose nuestro Estado y su Legislación referentes a nivel nacional en la materia.</li>
                        <li>Dentro del Sistema Nacional de Transparencia ocupo la Secretaria Técnica de la Comisión de los Derechos Humanos, Equidad de Género e Inclusión Social.</li>
                        <li>En el aspecto académico ha desempeñado actividades de docencia en educación universitaria de Instituciones Públicas y Privadas de la Región Carbonífera y de la Capital del Estado de Coahuila.</li>
                        <li>Es Conferencista en materia de Transparencia, Acceso a la Información, Rendición de Cuentas y Protección de Datos Personales y ha escrito diversos artículos publicados en un medio de comunicación.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

