    <div id="cc-quien-conforma" class="contenedor-horizontal comite-coordinador clearfix">
        <h3>¿Quién conforma el Comité Coordinador?</h3>
        <div class="miembros-prev">
            {% include 'start-page-cc-cpc-presidente.html' %}
            {% include 'start-page-cc-pjecz-mfma.html' %}
       
            {% include 'start-page-cc-asec.html' %}
            {% include 'start-page-cc-fech-jhfm.html' %}
            {% include 'start-page-cc-sefirc-tgb.html' %}
            
            {% include 'start-page-cc-icai-lgb.html' %}
            {% include 'start-page-cc-tjacz-slrw.html' %}
        </div>
        <div class="miembros-full">
            {% include 'start-page-cc-cpc-presidente-cv.html' %}
             {% include 'start-page-cc-pjecz-mfma-cv.html' %}
         
            {% include 'start-page-cc-asec-cv.html' %}
            {% include 'start-page-cc-fech-jhfm-cv.html' %}
            {% include 'start-page-cc-sefirc-tgb-cv.html' %}
           
            {% include 'start-page-cc-icai-lgb-cv.html' %}
            {% include 'start-page-cc-tjacz-slrw-cv.html' %}
        </div>
    </div>

