    <!-- Carrusel -->
    <div class="contenedor-horizontal slider-area clearfix">
        <div class="theme-default">
            <div class="slider" id="slider">
                <a href="{{ SITEURL }}/secretaria-ejecutiva/boletines-anticorrupcion/boletin-anticorrupcion-coahuila-2019-03/"><img src="{{ SITEURL }}/theme/images/2019-05-07-boletin.jpg"></a>
                <img src="{{ SITEURL }}/theme/images/2019-05-07-feria-internacional-libro.jpg">
                <a href="{{ SITEURL }}/secretaria-ejecutiva/infografias/"><img src="{{ SITEURL }}/theme/images/2019-05-07-infografias.jpg"></a>
                <img src="{{ SITEURL }}/theme/images/2019-05-07-revista-azimut.jpg">
            </div>
        </div>
    </div>

