    <div id="vinculos" align="center" class="contenedor-horizontal transparencia-externos clearfix" style="background-color: white">
        <div class="transparencia">
            <h4>TRANSPARENCIA</h4>
            <ul>
                <li><a href="/secretaria-ejecutiva/transparencia/">Información Pública de Oficio</a></li>
                <li><a href="/secretaria-ejecutiva/transparencia/art-21-01-estructura-organica/">Estructura orgánica</a></li>
                <li><a href="/secretaria-ejecutiva/transparencia/art-21-02-marco-normativo/">Marco Normativo</a></li>
                <li><a href="/secretaria-ejecutiva/transparencia/art-21-21-calendario-de-reuniones-publicas/">Calendario de Reuniones Públicas</a></li>
                <li><a href="/secretaria-ejecutiva/transparencia/art-21-22-unidad-de-transparencia-y-comite-de-transparencia/">Cómite de Transparencia</a></li>
                <li><a href="/secretaria-ejecutiva/transparencia-lgcg/">Transparencia LGCG</a></li>
            </ul>
        </div>
        <div class="externos">
            <h4>VÍNCULOS EXTERNOS</h4>
            <ul>
                <li><a href="https://www.cpccoahuila.org.mx/" target="_blank">Consejo de Participación Ciudadana</a></li>
                <li><a href="http://sna.org.mx/" target="_blank">Sistema Nacional Anticorrupción</a></li>
                <li><a href="http://guiaciudadanadelsna.org.mx/" target="_blank">Guía Ciudadana del SNA</a></li>
                <li><a href="https://ethos.org.mx/es/ethos-publications/sna-y-el-nuevo-regimen-de-responsabilidades-2/" target="_blank">El SNA y el nuevo régimen de Responsabilidades</a></li>
                <li><a href="https://www.plataformadetransparencia.org.mx/" target="_blank">Plataforma Nacional de Transparencia</a></li>
            </ul>
        </div>
        <div class="quejasysugerencias">
            <h4>QUEJAS Y SUGERENCIAS</h4>
            <ul>
                <li><a href="https://goo.gl/forms/v9fUknvCjxNUqNzA2" target="_blank">Formulario en Internet</a></li>
                <li><a href="mailto:quejas.y.sugerencias@seacoahuila.org.mx">Correo electrónico</a></li>
                <li><a href="#">Teléfono (844) 688 2178</a></li>
                <li><a href="/secretaria-ejecutiva/institucional/contacto/">Domicilio de la Secretaría Ejecutiva</a></li>
            </ul>
        </div>
    </div>

