            <div class="miembro"> <a href="#m5">
                <div class="foto"><img src="/theme/images/cc-pjecz-mfma.jpg"></div>
                <div class="info">
                    <h2 class="nombre">Miguel Felipe Mery Ayup</h2>
                    <h3 class="puesto">Presidente del Tribunal Superior de Justicia y del Consejo de la Judicatura del Poder Judicial del Estado de Coahuila de Zaragoza</h3>
                    <div class="plus">+</div>
                </div>
            </a> </div>

