    <!-- Destacados -->
    <div class="contenedor-horizontal bloque-navegacion clearfix ">
        <div class="nivel">
            <h4>Comité Coordinador</h4>
            <ul class="links">
                <li><a href="{{ SITEURL }}/cc/institucional/que-es-el-cc/">
                    <div class="icon"></div>
                    <p>¿QUÉ ES EL CC?</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cc/planes/plan-de-trabajo-cc-2018/">
                    <div class="icon"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cc/informes/2018-informe-anual/">
                    <div class="icon"></div>
                    <p>Informe Anual</p>
                </a></li>
            </ul>
        </div>
        <div class="nivel">
            <h4>Consejo de Participación Ciudadana</h4>
            <ul class="links">
                <li><a href="{{ SITEURL }}/cpc/institucional/que-es-el-cpc/">
                    <div class="icon"></div>
                    <p>¿QUÉ ES EL CPC?</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/planes/plan-de-trabajo-cpc-2018/">
                    <div class="icon"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/declaraciones/3-de-3/">
                    <div class="icon"></div>
                    <p>DECLARACIONES 3 DE 3</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/institucional/documentos-cpc/">
                    <div class="icon"></div>
                    <p>DOCUMENTOS</p>
                </a></li>
                <li><a href="{{ SITEURL }}/cpc/institucional/contacto-cpc/">
                    <div class="icon"></div>
                    <p>CONTACTO</p>
                </a></li>
            </ul>
        </div>
        <div class="nivel">
            <h4>Secretaría Ejecutiva</h4>
            <ul class="links">
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/institucional/que-es-la-secretaria-ejecutiva/">
                    <div class="icon"></div>
                    <p>¿QUÉ ES LA SE?</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/planes/plan-de-trabajo-2018/">
                    <div class="icon"></div>
                    <p>PLAN DE TRABAJO</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/capacitacion/2018-05-primera-capacitacion-y-difusion/">
                    <div class="icon"></div>
                    <p>CAPACITACIÓN</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/datos/">
                    <div class="icon"></div>
                    <p>DATOS</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/">
                    <div class="icon"></div>
                    <p>TRANSPARENCIA</p>
                </a></li>
                <li><a href="{{ SITEURL }}/secretaria-ejecutiva/institucional/contacto/">
                    <div class="icon"></div>
                    <p>CONTACTO</p>
                </a></li>
            </ul>
        </div>
    </div>

