            <div class="miembro" id="m7">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Jesús Gerardo Sotomayor Hernández</h2>
                    <h3 class="puesto">Magistrado Presidente del Tribunal de Justicia Administrativa de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="/theme/images/cc-tjacz.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Licenciado en Derecho Facultad de Derecho de la UADEC unidad Torreón.</li>
                        <li>Diplomado en Gestión Pública por la Universidad Iberoamericana de la Laguna.</li>
                        <li>Especialización en el Sistema Integral de Justicia Penal para Adolescentes.</li>
                    </ul>
                    <h4> Experiencia Laboral </h4>
                    <ul>
                        <li>Magistrado de la Sala Especializada en Materia de Responsabilidades Administrativas del Tribunal de Justicia Administrativa de Coahuila de Zaragoza.</li>
                        <li>Subsecretario de Asuntos Jurídicos en el Republicano Ayuntamiento de Torreón.</li>
                        <li>Director del Instituto de Investigaciones Jurídicas y Parlamentarias del Congreso del Estado de Coahuila.</li>
                        <li>Asesor en la Secretaría General de Gobierno del Estado de Coahuila.</li>
                        <li>Secretaria de Desarrollo Social en el Republicano Ayuntamiento de Torreón.</li>
                        <li>Secretario Abogado y Agente del Ministerio Público por Ministerio de Ley. Procuraduría General de Justicia del Estado de Coahuila Región Laguna</li>
                    </ul>
                    <h4>Actividades Académicas</h4>

                     <ul>
                        <li>Taller de Destrezas de Litigación en Juicios Orales (2019).</li>


                        <li>Taller de Prácticas Parlamentarias.</li>
                        <li>Taller de Juicio Oral Familiar</li>
                        <li>Curso de Contraloría Dinámica.</li>
                        <li>Curso sobre Tópicos Fiscales de la Actualidad</li>
                        <li>Curso Reformas Fiscales (2017)</li>
                        <li>Curso de Reducción de Pagos Provisionales.</li>
                        <li>Curso Amparo Administrativo</li>
                        <li>Curso Amparo Fiscal</li>
                        <li>Programa de Sensibilización y Capacitación dirigida a Abogados.</li>
                        <li>Taller de Juicio Oral en Materia Mercantil (2016)</li>
                        <li>Catedrático de la Preparatoria Venustiano Carranza en Materia de Lógica.</li>
                        <li>Catedrático de la Universidad La Salle en Materia Derecho Administrativo.</li>


                     </ul>

                     <h4>Otras Actividades en las que ha participado</h4>

                     <ul>
                         <li>Vocal en el Consejo Regional de la Abogacía.</li>
                         <li>Secretario en el Consejo Regional de la Abogacía.</li>
                         <li>Presidente del Colegio Regional de Abogados de la Laguna.</li>
                         <li>Secretario del Colegio Regional de Abogados de la Laguna.</li>
                         <li>Titular en el Bufete Jurídico Gratuito del Colegio Regional de la Laguna</li>


                     </ul>  





                </div>
                <div class="icon-comite"></div>
            </div>
