    <!-- CC inicia -->
    <div class="contenedor-horizontal logos-inst clearfix">
        <div class="logos">
            <img src="theme/images/logo-inst-01.png">
            <img src="theme/images/logo-inst-02.png">
            <img src="theme/images/logo-inst-03.png">
            <img src="theme/images/logo-inst-04.png">
            <img src="theme/images/logo-inst-05.png">
            <img src="theme/images/logo-inst-06.png">
            <img src="theme/images/logo-inst-07.png">
        </div>
    </div>
    <!-- CC termina -->

