            <div class="miembro" id="m1">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">José Armando Plata Sandoval</h2>
                    <h3 class="puesto">Auditor Superior del Estado de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="/theme/images/cc-asec-japs.jpg"></div>
                <div class="bio">
                    <h4>Datos Profesionales</h4>
                    <ul>
                        <li>Contador Público Certificado.</li>
                        <li>Contador de Comercio.</li>
                        <li>Contador Público Certificado.</li>
                        <li>Maestro en Impuestos.</li>
                        <li>Maestro en Gestión Pública Aplicada.</li>
                        <li>Doctor en Administración y Alta Dirección.</li>
                    </ul>
                    <h4>Trayectoria Laboral</h4>
                    <ul>
                        <li>En el Sector Privado de 1972 a 1993. Diversos puestos administrativos y directivos en la industria automotriz, minero metalúrgica y harinera; despacho contable y fiscal propio.</li>
                        <li>En el Sector Público del Gobierno del Estado de Coahuila de 1993 a la fecha. Director de Auditoría Fiscal del Estado, Subcontador Mayor de Hacienda, Coordinador de Asesores de la Secretaría de Finanzas, Subsecretario de Auditoría Gubernamental de la Secretaría de la Función Pública y actualmente Auditor Superior del Estado.</li>
                    </ul>
                    <h4>Trayectoria Institucional</h4>
                    <ul>
                        <li>Colegio de Contadores Públicos de Saltillo, A.C. - Presidente del Consejo Directivo (1992 – 1993)</li>
                        <li>Instituto Mexicano de Contadores Públicos A. C. - Vicepresidente de Sector Gubernamental en diversos periodos: 2007-2009, 2011-2014.</li>
                        <li>Asociación Nacional de Organismos de Fiscalización Superior y Control Gubernamental (ASOFIS). Consejero directivo del año 2008 al 2018; actualmente, Coordinador de la Región Norte e integrante de la Comisión Permanente de la ASOFIS, para el periodo 2018-2020.</li>
                        <li>Consejo Nacional de Armonización Contable - Integrante del Comité Consultivo y sus grupos de trabajo (2009-2018) y Coordinador del grupo de trabajo de Contabilidad Gubernamental (2011-2014).</li>
                        <li>Sistema Nacional de Fiscalización - Integrante de diversas instancias del SNF desde 2012-2018; Para el periodo 2017-2019 integrante del Comité Rector del Sistema Nacional de Fiscalización e integrante del grupo de trabajo de Creación de Capacidades.</li>
                    </ul>
                    <h4>Trayectoria Académica</h4>
                    <p>Ha fungido como docente en diversas universidades:</p>
                    <ul>
                        <li>Facultades Universitarias de Saltillo (1983 – 1984)</li>
                        <li>Universidad Autónoma del Noreste (1985 – 1990)</li>
                        <li>Universidad Autónoma Anáhuac - Mayab (2013 – 2014)</li>
                        <li>Universidad Autónoma de Coahuila (1990, 2014)</li>
                        <li>Creación de Diplomados en Contabilidad Gubernamental y Disciplina Financiera e Índice de Información Presupuestal Municipal bajo Convenio con la Secretaria de Hacienda y Crédito Público y la Asociación Nacional de Organismos de Fiscalización Superior y Control Gubernamental con alcance de 110 mil usuarios del sector público a nivel nacional.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>

