    <!-- Comunicados Redes Sociales inicia -->
    <div id="comunicados" class="contenedor-horizontal inicio-comunicados-redes clearfix ">
        <div class="wrap">
            <div class="comunicados-home">
                <h1>Comunicados</h1>
                <div class="comunicado"> <a href="http://www.seacoahuila.org.mx/comunicados/2018-12-19-propuesta-politica-nacional-anticorrupcion/">
                    <div class="imagen"><img src="http://www.seacoahuila.org.mx/comunicados/2018-12-19-propuesta-politica-nacional-anticorrupcion//preview.jpg" alt="Imagen previa"></div>
                    <div class="info">
                        <h2>Propuesta de la Política Nacional Anticorrupción</h2>
                        <p class="fecha">19 diciembre 2018</p>
                        <p>La propuesta de Política Nacional Anticorrupción es resultado del análisis de datos oficiales y evidencia generada por distintas instancias de la sociedad civil.</p>
                        <div class="plus">+</div>
                    </div>
                </a> </div>
                <div class="comunicado"> <a href="http://www.seacoahuila.org.mx/comunicados/2018-12-09-dia-internacional-contra-corrupcion/">
                    <div class="imagen"><img src="http://www.seacoahuila.org.mx/comunicados/2018-12-09-dia-internacional-contra-corrupcion//preview.jpg" alt="Imagen previa"></div>
                    <div class="info">
                        <h2>Actividad en Ruta Recreativa por el Día Internacional Contra la Corrupción</h2>
                        <p class="fecha">09 diciembre 2018</p>
                        <p>Personal del Consejo de Participación Ciudadana y de la Secretaría Ejecutiva participaron en la Ruta Recreativa de Saltillo dando a conocer el papel del CPC en el SAEC.</p>
                        <div class="plus">+</div>
                    </div>
                </a> </div>
                <div class="comunicado"> <a href="http://www.seacoahuila.org.mx/comunicados/2018-12-06-reunion-grupo-plataformas-digitales/">
                    <div class="imagen"><img src="http://www.seacoahuila.org.mx/comunicados/2018-12-06-reunion-grupo-plataformas-digitales//preview.jpg"></div>
                    <div class="info">
                        <h2>Reunión virtual del Grupo de Plataformas Digitales</h2>
                        <p class="fecha">09 diciembre 2018</p>
                        <p>El diseño, desarrollo e implementación de las Plataformas Estatales es responsabilidad de las Secretarías Ejecutivas Estatales; pero deben de seguir los formatos y recomendaciones del Comité Coordinador del SNA.</p>
                        <div class="plus">+</div>
                    </div>
                </a> </div>
            </div>
            <div class="redes">
                <div class="facebook">
                    <div class="col-l fa"></div>
                    <div class="col-r">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fseseacoah%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
                <div class="twitter">
                    <div class="col-l fa"></div>
                    <div class="col-r"> <a class="twitter-timeline" data-lang="es" data-height="490" data-link-color="#3B6038" href="https://twitter.com/seseacoah?ref_src=twsrc%5Etfw">Tweets by seseacoah</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comunicados Redes Sociales termina -->

