            <div class="miembro" id="m7">
                <div class="close-it">+</div>
                <div class="info">
                    <h2 class="nombre">Sandra Luz Rodríguez Wong</h2>
                    <h3 class="puesto">Magistrada Presidenta del Tribunal de Justicia Administrativa de Coahuila de Zaragoza.</h3>
                </div>
                <div class="foto"><img src="{{ SITEURL }}/theme/images/cc-tjacz-slrw.jpg"></div>
                <div class="bio">
                    <h4>Formación Académica</h4>
                    <ul>
                        <li>Es Licenciada en Derecho y Maestra en Derecho Fiscal por la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                        <li>Es también Mediador Acreditado ante el Instituto de Mediación de México.</li>
                        <li>Actualmente, es candidata a Doctor en Derecho Constitucional, por la Universidad Autónoma del Noreste y Catedrática de la Facultad de Jurisprudencia de la Universidad Autónoma de Coahuila.</li>
                    </ul>
                    <h4> Ha desempeñado diversos cargos públicos </h4>
                    <ul>
                        <li>En el ámbito municipal, colaboró como apoderada jurídica del Sistema para el Desarrollo Integral de la Familia del municipio de Saltillo.</li>
                        <li>Ha colaborado en Organismos Autónomos como en el Instituto federal electoral, fungió también como Secretario abogado de la Procuraduría electoral y como Primer Visitador de la Comisión de Derechos Humanos del Estado</li>
                        <li>En el ámbito federal, ocupó en su momento, la Dirección del Bufete Jurídico de asesoría Gratuita</li>
                        <li>En el servicio público estatal ocupó la Subdireccción de la Defensoría de Oficio en materia penal, y posteriormente la Subdirección de la Unidad de Defensa Civil y Familiar. Años mas tarde, se hace cargo del despacho de la Dirección de la Propia Defensoría</li>
                        <li>Fue también; Directora de Notarías del estado, Directora Estatal del Registro Civil, Administradora Central del Registro Público y Consejera Jurídica del Estado.</li>
                    </ul>
                </div>
                <div class="icon-comite"></div>
            </div>
