    <div id="que-es" class="contenedor-horizontal que-es-el-sea clearfix"  style="background-color: white">
        <div class="que-es" style="border: 10px solid #A5B0A2; background-color: #F7F7F7;">
            <h1 style="color: #373734">¿QUÉ ES EL SEA?</h1>
            <p style="padding: 0px; text-align: justify;">El Sistema Anticorrupción del Estado de Coahuila es el mecanismo encargado de establecer los principios de coordinación entre las autoridades de los entes públicos para el diseño, promoción y evaluación de políticas públicas locales encaminados en la prevención, detección y sanción de los hechos de corrupción; asi como en la fiscalización y control de recursos públicos.</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5BOENuByLBc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

