/* SEA Coahuila - Invierno 2019 */

/* Global */
body       { font-family: Roboto,'Helvetica Neue',Arial, sans-serif; }
h1         { font-size:1.8rem; }
h2         { font-size:1.6rem; }
h3         { font-size:1.4rem; }
h4         { font-size:1.2rem; }
h5         { font-size:1.1rem; }
h6         { font-size:1.0rem; }
strong     { font-family: Roboto,'Helvetica Neue',Arial,sans-serif; font-weight: 500; }
blockquote { font-family: Roboto,'Helvetica Neue',Arial,sans-serif; font-weight: 300; font-size: 1.5em; }
table      { width: 100%; }

/* Headers */
.header-cpc     { background-color: #DFE1E6; }
.header-saec    { background-color: #E6DFCF; }
.header-sesaec  { background-color: #E0E6DF; }
.header-generic { background-color: #E8E8E8; }

/* Sections */
section.start-page-carousel {
    padding: 0 0;
    background-color: #E8E8EF;
    min-height: 320px;
}
section.start-page-about-saec {
    padding: 80px 0;
    background-color: #E8EFE8;
    min-height: 320px;
}
section.start-page-internal-links {
    padding: 20px 0;
    background-color: #EFE8E8;
}
section.start-page-billboard {
    padding: 12px 0;
    background-color: #EFE8EF;
}
section.start-page-articles {
    padding: 80px 0;
    background-color: #EFEFE8;
}
section.start-page-transparency {
    padding: 80px 0;
    background-color: #EFEFEF;
}
section.start-page-external-links {
    padding: 80px 0;
    background-color: #EFE8EF;
}

/* Footer */
footer                {}
.footer-fa            { font-size: 3em; }
.footer-text          { color: #CCC0AC; line-height: 1.4; }
.footer-message       { color: #E6D9C2; line-height: 1.2; font-size: 0.8rem; }
a.footer-link         { color: #F2E5CC; }
a.footer-link:hover,
a.footer-link:focus   { color: #FFFFFF; }
a.footer-link:active,
a.footer-link:visited { color: #F2E5CC; }

/* Pelican index */

/* Pelican article */
.article-post {}
.article-post-title {}
.article-post-meta {}

/* Pelican page */
.page-post {}
.page-post-title {}

/* Pagination */
a.page-link               { color: #000000; }
a.page-link:hover,
a.page-link:focus         { color: #444444; }
a.page-link:active,
a.page-link:visited       { color: #000000; }

/* Responsive */
@media only screen and (max-width: 990px) {
    .card-title        { margin-top: 0.5rem; margin-bottom: 0.5rem; }
    .card-body         { padding: 1rem; }
    h1                 { font-size: 1.6rem; }
    h2                 { font-size: 1.4rem; }
    h3                 { font-size: 1.2rem; }
    h4                 { font-size: 1.1rem; }
    h5                 { font-size: 1.0rem; }
    h6                 { font-size: 1.0rem; }
    p                  { margin-bottom: 0.5rem; }
}
@media only screen and (max-width: 580px) {
    .card-title        { margin-top: 0.4rem; margin-bottom: 0.4rem; }
    h1                 { font-size: 1.4rem; }
    h2                 { font-size: 1.3rem; }
    h3                 { font-size: 1.2rem; }
    h4                 { font-size: 1.1rem; }
    h5                 { font-size: 0.9rem; }
    h6                 { font-size: 0.9rem; }
    body               { font-size: 0.9rem; }
}
@media only screen and (max-width: 300px) {
    .card-title        { margin-top: 0.3rem; margin-bottom: 0.3rem; }
    h1                 { font-size: 1.2rem; }
    h2                 { font-size: 1.1rem; }
    h3                 { font-size: 1.0rem; }
    h4                 { font-size: 0.9rem; }
    h5                 { font-size: 0.8rem; }
    h6                 { font-size: 0.8rem; }
    body               { font-size: 0.8rem; }
}
