        <div class="container">
          <p class="footer-message">
            El <a class="footer-link" href="https://github.com/SEACoahuila/plataforma.web" target="_blank">software libre que elabora este sitio web</a> se hace público con licencia <a class="footer-link" href="{{ SITEURL }}/general/terminos/gpl/">GNU General Public License versión 3</a>.
            Usa <a class="footer-link" href="http://getpelican.com/" target="_blank">Pelican</a> que está programado con <a class="footer-link" href="http://python.org">Python</a>.
            Le invitamos a descargar y usar los repositorios de <a class="footer-link" href="https://github.com/seacoahuila" target="_blank">SEACoahuila en GitHub</a>.
          </p>
        </div>

