    <nav class="navbar navbar-expand-md navbar-dark navigation" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ SITEURL }}">SEA Coahuila</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBootstrap4" aria-controls="navBootstrap4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBootstrap4">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about-saec">¿Qué es el SEA?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#articles">Comunicados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#transparency">Transparencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

