      <section class="start-page-transparency" id="transparency">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4 class="section-heading">Transparencia</h4>
              <div class="media transparency-item">
                <a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/"><i class="fa fa-eye transparency-fa"></i></a>
                <div class="media-body">
                  <span class="align-bottom"><a href="{{ SITEURL }}/secretaria-ejecutiva/transparencia/">Página de Transparencia de la SE</a></span>
                </div>
              </div>
              <div class="media transparency-item">
                <a href="https://www.plataformadetransparencia.org.mx/" target="_blank"><i class="fa fa-university transparency-fa"></i></a>
                <div class="media-body">
                  <span class="align-bottom"><a href="https://www.plataformadetransparencia.org.mx/" target="_blank">Plataforma Nacional de Transparencia</a></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="section-heading">Quejas y Sugerencias</h4>
              <div class="media transparency-item">
                <a href="https://goo.gl/forms/v9fUknvCjxNUqNzA2" target="_blank"><i class="fa fa-pencil-square transparency-fa"></i></a>
                <div class="media-body">
                  <span class="align-bottom"><a href="https://goo.gl/forms/v9fUknvCjxNUqNzA2" target="_blank">Formulario en Internet</a></span>
                </div>
              </div>
              <div class="media transparency-item">
                <a href="mailto:quejas.y.sugerencias@seacoahuila.org.mx"><i class="fa fa-envelope-square transparency-fa"></i></a>
                <div class="media-body">
                  <span class="align-bottom">Correo electrónico <a href="mailto:quejas.y.sugerencias@seacoahuila.org.mx">quejas.y.sugerencias@seacoahuila.org.mx</a></span>
                </div>
              </div>
              <div class="media transparency-item">
                <i class="fa fa-phone-square transparency-fa"></i>
                <div class="media-body">
                  <span class="align-bottom">Teléfono (844) 688 2178 de 09:00 a 16:00 de lunes a viernes.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

