      <section class="start-page-internal-links" id="internal-links">
        <div class="container">
          <h2 class="section-heading">Comité Coordinador</h2>
          <div class="row">
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/cc/institucional/que-es-el-cc/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/cc/institucional/que-es-el-cc/">¿Qué es el CC?</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/cc/planes/plan-de-trabajo-cc-2018/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/cc/planes/plan-de-trabajo-cc-2018/">Plan de Trabajo</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/cc/informes/2018-informe-anual/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/cc/informes/2018-informe-anual/">Informe Anual</a></p>
              </div>
            </div>
          </div>
          <h2 class="section-heading">Comité de Participación Ciudadana</h2>
          <div class="row">
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/cpc/institucional/que-es-el-cpc/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/cpc/institucional/que-es-el-cpc/">¿Qué es el CPC?</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/cpc/planes/plan-de-trabajo-cpc-2018/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/cpc/planes/plan-de-trabajo-cpc-2018/">Plan de Trabajo</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/cpc/institucional/contacto-cpc/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/cpc/institucional/contacto-cpc/">Contacto</a></p>
              </div>
            </div>
          </div>
          <h2 class="section-heading">Secretaría Ejecutiva</h2>
          <div class="row">
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/secretaria-ejecutiva/institucional/que-es-la-secretaria-ejecutiva/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/secretaria-ejecutiva/institucional/que-es-la-secretaria-ejecutiva/">¿Qué es la SE?</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/secretaria-ejecutiva/planes/plan-de-trabajo-2018/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/secretaria-ejecutiva/planes/plan-de-trabajo-2018/">Plan de Trabajo</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/secretaria-ejecutiva/capacitacion/2018-05-primera-capacitacion-y-difusion/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/secretaria-ejecutiva/capacitacion/2018-05-primera-capacitacion-y-difusion/">Capacitación</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 card internal-link">
              <a href="{{ SITEURL }}/secretaria-ejecutiva/datos/"><img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono"></a>
              <div class="card-body">
                <p class="card-text"><a href="{{ SITEURL }}/secretaria-ejecutiva/datos/">Datos</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>

