      <section class="start-page-internal-links" id="internal-links">
        <div class="container">
          <h2>Comité Coordinador</h2>
          <div class="row">
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">¿Qué es el CC?</p>
              </div>
            </div>
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">Plan de Trabajo</p>
              </div>
            </div>
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">Informe Anual</p>
              </div>
            </div>
          </div>
          <h2>Comité de Participación Ciudadana</h2>
          <div class="row">
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">¿Qué es el CPC?</p>
              </div>
            </div>
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">Plan de Trabajo</p>
              </div>
            </div>
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">Declaraciones 3 de 3</p>
              </div>
            </div>
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">Documentos</p>
              </div>
            </div>
            <div class="col-lg-6 card internal-link">
              <img src="theme/images/vinculo-externo-generico.png" class="card-img-top" alt="icono">
              <div class="card-body">
                <p class="card-text">Contacto</p>
              </div>
            </div>
          </div>
        </div>
      </section>

